<div class="item-background"
     style="background-image: url('{{adventure.club.banner_image_url}}');"></div>
<div class="row item-content">
  <div class="large-6 medium-12 columns">
    {{#adventure-type adventureType=model.adventure_type}}
      <div class="adventure-time">{{startTime}}</div>
    {{/adventure-type}}
    {{#link-to 'adventures.show' model.id}}
      <div class="single-line-text">
        <span class="adventure-name">{{model.name}}</span>
      </div>
    {{/link-to}}
    <div class="single-line-text">
      <span class="adventure-location">{{model.address}}</span>
    </div>
    <div class="single-line-text tags">
      {{#each model.tags as |tag|}}
        {{#link-to 'tags.show' tag}}#{{tag}}{{/link-to}}
      {{/each}}
    </div>
    <div class="event-badge-wrapper">
      {{#if model.sponsored}}
        <div class="event-badge badge-sponsored sm"
             title="Yazda sponsored event">
        </div>
      {{/if}}
      {{#if is24Hours}}
        <div class="event-badge badge-hour sm" title="24+ hour event">
        </div>
      {{/if}}
      {{#if isPrivate}}
        <div class="event-badge badge-private sm" title="Private">
          <span aria-hidden="true"><i class="ion-locked"></i></span>
        </div>
      {{/if}}
    </div>
  </div>

  <div class="large-5 medium-12 columns end">
    <div class="adventure-number">
      <!--TODO messaging-->
      <!--<a href="#" class="event-badge alert badge badge-message" title="6 messages for this adventure">6</a>-->
      {{adventurerText}}
      {{#if model.reservation_limit}}
        <span>{{spotsLeft}} Spots left</span>
      {{/if}}
    </div>
    <div class="adventure-users">
      {{user-thumb user=model.owner}}

      {{#each limitedAttendings as |invite|}}
        {{user-thumb user=invite.user}}
      {{/each}}
    </div>
  </div>

  {{#if model.skill_level}}
    <div class="large-1 medium-12 columns">
      <div class="skill-level-wrapper {{skillLevel}}">
        <div class="skill-level-badge skill-level
        icon-{{adventureType}}-skill-level-{{model.skill_level}} sm"
             title="Skill Level: {{skillLevel}}"></div>
        <span>{{skillLevel}}</span>
      </div>
    </div>
  {{/if}}
</div>
