
<!-- Main Content -->
<div class="large-9 medium-12 columns">
  <!-- Begin Adventure Create Form -->
  <form id="form-adventure-create" class="form-create" method="post"
        data-abide novalidate>

    {{#zf-tabs class="adventure-create-tabs" id="adventure-create-tabs"}}
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true"><i
          class="icon-adventure-add"></i> Create</a></li>
      <li class="tabs-title"><a href="#panel2"><i class="icon-invites"></i>
        Invite</a></li>
    {{/zf-tabs}}
    <div class="tabs-content adventure-create-tabs-content"
         data-tabs-content="adventure-create-tabs">

      <div class="tabs-panel is-active" id="panel1">
        <div class="expanded row">
          <div class="large-12 columns adventure-type-select-container">
            <h3 class="text-center">What's your <strong>adventure</strong>
                                    style?</h3>
            <div class="menu-centered">
              <ul class="menu-adventure-select">
                <li><a class="adventure-type-select
                  {{mountainBikingSelected}}"
                  {{action 'selectAdventureType' 'mountain_biking'}}><i
                    class="icon-mountain-biking"></i><span>Mountain Biking</span></a>
                </li>
                <li><a class="adventure-type-select {{bikingSelected}}"
                  {{action 'selectAdventureType' 'biking'}}><i
                    class="icon-biking"></i><span>Road Biking</span></a></li>
                <!--<li><a class="adventure-type-select"><i class="icon-trail-running"></i><span>Road Biking</span></a></li>-->
                <!--<li><a class="adventure-type-select"><i class="icon-running"></i><span>Road Biking</span></a></li>-->
                <li><a class="adventure-type-select {{hikingSelected}}"
                  {{action 'selectAdventureType' 'hiking'}}><i
                    class="icon-hiking"></i><span>Hiking</span></a></li>
              </ul>
            </div>
          </div>
          {{#each adventure.errors.adventure_type as |error|}}
            <span class="form-error"
                  style="display: block;">{{error.message}}</span>
          {{/each}}
          <div id="adventure-inputs" class="large-6 medium-6 columns">
            <div class="input-group">
                <span class="input-group-label yazda-input-label"><i
                    class="ion-ios-search"></i></span>
              <!--TODO is-invalid-input-->
              {{input value=adventure.address id="create-location"
                      class="input-group-field" type="search"
                      placeholder="Where are you adventuring?" required=true}}
            </div>
            {{#each adventure.errors.address as |error|}}
              <span class="form-error"
                    style="display: block;">{{error.message}}</span>
            {{/each}}


            <!-- Expanding Map -->
            <!--TODO hide/show map -->
            <a data-toggle="googleMap" type="button" {{action 'toggleMap'}}
               class="button small secondary expanded show-for-small-only
               toggle-map-btn">Hide/Show Map</a>
            <div id="googleMap" class="create-map-container"
                 data-toggler=".map-toggle" data-animate="fade-in fade-out">
              {{#g-map lat=lat lng=lon zoom=12 as |context|}}
                {{g-map-address-marker context address=adventure.address
                                       onLocationChange=(action "onLocationChangeHandler")}}
              {{/g-map}}
            </div>
          </div>

          <div class="large-6 medium-6 columns">
            <div class="input-group">
                <span class="input-group-label yazda-input-label"><i
                    class="icon-mountain-biking"></i></span>
              {{input value=adventure.name id="create-adventure-name"
                      class="input-group-field" type="text"
                      placeholder="Adventure Name" required=true}}
            </div>
            {{#each adventure.errors.name as |error|}}
              <span class="form-error"
                    style="display: block;">{{error.message}}</span>
            {{/each}}

            <div class="input-group">
            <span class="input-group-label yazda-input-label middle"><i
                class="ion-ios-clock-outline"></i><div
                class="input-label-addon">
              Start Time
            </div></span>
              {{datetime-picker value=start_time
                                id="create-start-time" class="input-group-field
                datetimepicker text-right" placeholder="Start Time"
                                required=true}}
            </div>
            {{#each adventure.errors.start_time as |error|}}
              <span class="form-error"
                    style="display: block;">{{error.message}}</span>
            {{/each}}


            <div class="input-group">
            <span class="input-group-label yazda-input-label"><i
                class="ion-ios-clock"></i><div class="input-label-addon">
              How many Hours?
            </div></span>
              {{input value=hours id="hours"
                      class="input-group-field text-right"
                      placeholder="Hours" required=true}}
            </div>
            {{#each adventure.errors.end_time as |error|}}
              <span class="form-error"
                    style="display: block;">{{error.message}}</span>
            {{/each}}

            <!-- Select Club / Not Club adventure -->
            {{#if showClubs}}
              <select
                  onchange={{action (mut adventure.club_id)
                                    value="target.value"}}
                      id="create-club-type-select" required>
                <option value='' selected={{eq adventure.club_id club.id}}>
                  Not a Club Adventure
                </option>
                {{#each createClubs as |club|}}
                  <option role={{club.role}}
                              value={{club.id}}
                          selected={{eq adventure.club_id
                                        club.id}}>{{club.name}}</option>
                {{/each}}
              </select>
              {{#each adventure.errors.club_id as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}
            {{/if}}

            <div class="input-group">
                <span class="input-group-label yazda-input-label"
                      style="font-size: 16px;">Max Attendees
                  {{#zf-tooltip class="right"
                                style="font-size: 16px;"
                                data-disable-hover="false" title="Set maximum number of
                friends to join your adventure. Minimum of 1. You can select
                friends on the next screen."}}<i
                      class="ion-ios-help-outline help-icon"></i>{{/zf-tooltip}}</span>
              {{input value=adventure.reservation_limit id="create-attendees"
                      class="input-group-field text-right" type="number" min="0"
                      placeholder="∞" required=true}}
            </div>
            {{#each adventure.errors.reservation_limit as |error|}}
              <span class="form-error"
                    style="display: block;">{{error.message}}</span>
            {{/each}}


            <div class="input-group">
                <span class="input-group-label yazda-input-label"
                      style="font-size: 16px;">Private
                  {{#zf-tooltip class="right"
                                style="font-size: 16px;"
                                data-disable-hover="false"
                                title="Set this adventure to be viewable for
                                everyone, just your club and friends you
                                invite, or only viewable with a link."}}<i
                      class="ion-ios-help-outline help-icon"></i>{{/zf-tooltip}}</span>
              <select
                  onchange={{action (mut adventure.privacy)
                                    value="target.value"}}
                      id="privacy" required>
                <option value="public_adventure">Open</option>
                <option value="private_adventure">Private</option>
                <option value="link">Viewable with Link</option>
              </select>
            </div>
          </div>
          {{#each adventure.errors.privacy as |error|}}
            <span class="form-error"
                  style="display: block;">{{error.message}}</span>
          {{/each}}

          <div class="large-12 columns">
            {{textarea value=adventure.description
                       placeholder="Description (for example, difficulty, pace, mileage and post adventure celebration)"}}
            {{#each adventure.errors.description as |error|}}
              <span class="form-error"
                    style="display: block;">{{error.message}}</span>
            {{/each}}
          </div>

          <div class="large-12 columns">
            <!--TODO beforeScroll-->
            {{#scroll-to href='#panel1'  id="invite-friends-btn"
                         class="button energized expanded create-cta-btn"
                         afterScroll='openPanel2'}}
            Next
            {{/scroll-to}}
          </div>
        </div>
      </div>

      <div class="tabs-panel" id="panel2">
        <!-- Select Friends -->
        {{users-list userId=me.id onSelect=(action 'toggleUserInvite')}}

        <div class="large-12 columns">
          {{async-button action=(action 'save')
                         class="button balanced expanded create-cta-btn"
                         reset=true default='Create Your Adventure!'}}
        </div>
      </div>
    </div>
  </form>

  <!-- End Adventure Create Form -->

</div>
<!-- End Main Content -->

<!-- Sidebar -->
<div class="large-3 medium-12 columns">
  {{sidebar-main}}
</div>
<!-- End Sidebar -->
