<!-- Error -->
{{#if adventure.errors}}
  {{error-banner message='There was an error saving your adventure.'}}
{{/if}}
<!-- End error -->

<!-- Main Content -->
<div class="large-9 medium-12 columns">
  <!-- Begin Adventure Create Form -->
  <form id="form-adventure-create" class="form-create" method="post"
        data-abide novalidate>

    <div class="expanded row">
      <div id="adventure-inputs" class="large-6 medium-6 columns">
        <div class="input-group">
                <span class="input-group-label yazda-input-label"><i
                    class="ion-ios-search"></i></span>
          <!--TODO is-invalid-input-->
          {{input value=adventure.address id="create-location"
                  class="input-group-field" type="search"
                  placeholder="Where are you adventuring?" required=true}}
        </div>
        {{#each adventure.errors.address as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}


        <!-- Expanding Map -->
        <!--TODO hide/show map -->
        <a data-toggle="googleMap" type="button" {{action 'toggleMap'}}
           class="button small secondary expanded show-for-small-only
               toggle-map-btn">Hide/Show Map</a>
        <div id="googleMap" class="create-map-container"
             data-toggler=".map-toggle" data-animate="fade-in fade-out">
          {{#g-map lat=lat lng=lon zoom=12 as |context|}}
            {{g-map-address-marker context address=adventure.address
                                   onLocationChange=(action "onLocationChangeHandler")}}
          {{/g-map}}
        </div>
      </div>

      <div class="large-6 medium-6 columns">
        <div class="input-group">
                <span class="input-group-label yazda-input-label"><i
                    class="icon-mountain-biking"></i></span>
          {{input value=adventure.name id="create-adventure-name"
                  class="input-group-field" type="text"
                  placeholder="Adventure Name" required=true}}
        </div>
        {{#each adventure.errors.name as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}

        <div class="input-group">
            <span class="input-group-label yazda-input-label middle"><i
                class="ion-ios-clock-outline"></i><div
                class="input-label-addon">
              Start Time
            </div></span>
          {{datetime-picker value=start_time
                            id="create-start-time" class="input-group-field
                datetimepicker text-right" placeholder="Start Time"
                            required=true}}
        </div>
        {{#each adventure.errors.start_time as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}


        <div class="input-group">
            <span class="input-group-label yazda-input-label"><i
                class="ion-ios-clock"></i><div class="input-label-addon">
              How many Hours?
            </div></span>
          {{input value=hours id="hours"
                  class="input-group-field text-right"
                  placeholder="Hours" required=true}}
        </div>
        {{#each adventure.errors.end_time as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}


        <!-- Select Club / Not Club adventure -->
        {{#if showClubs}}
          <select
              onchange={{action (mut adventure.club_id)
                                value="target.value"}}
                  id="create-club-type-select" required>
            <option value='' selected={{eq adventure.club_id club.id}}>
              Not a Club Adventure
            </option>
            {{#each createClubs as |club|}}
              <option role={{club.role}}
                          value={{club.id}}
                      selected={{eq adventure.club_id
                                    club.id}}>{{club.name}}</option>
            {{/each}}
          </select>
          {{#each adventure.errors.club_id as |error|}}
            <span class="form-error"
                  style="display: block;">{{error.message}}</span>
          {{/each}}
        {{/if}}

        <div class="input-group">
                <span class="input-group-label yazda-input-label"
                      style="font-size: 16px;">Max Attendees
                  {{#zf-tooltip class="right"
                                style="font-size: 16px;"
                                data-disable-hover="false" title="Set maximum number of
                friends to join your adventure. Minimum of 1. You can select
                friends on the next screen."}}<i
                      class="ion-ios-help-outline help-icon"></i>{{/zf-tooltip}}</span>
          {{input value=adventure.reservation_limit id="create-attendees"
                  class="input-group-field text-right" type="number" min="0"
                  placeholder="∞" required=true}}
        </div>
        {{#each adventure.errors.reservation_limit as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}
      </div>

      <div class="large-12 columns">
        {{textarea value=adventure.description
                   placeholder="Description (for example, difficulty, pace, mileage and post adventure celebration)"}}
        {{#each adventure.errors.description as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}
      </div>

      <div class="large-12 columns">
        {{async-button action=(action 'save')
                       class="button primary expanded create-cta-btn"
                       reset=true default='Save'}}
      </div>
      <div class="large-12 columns">
        {{async-button action=(action 'destroy')
                       class="button alert expanded create-cta-btn"
                       reset=true default='Cancel Adventure'}}
      </div>
    </div>
  </form>

  <!-- End Adventure Create Form -->

</div>
<!-- End Main Content -->

<!-- Sidebar -->
<div class="large-3 medium-12 columns">
  {{sidebar-main}}
</div>
<!-- End Sidebar -->
