{{#unless hideHeader}}
  <div class="item-list-header item-adventures-header">
    <h3><i class="icon-adventures"></i> Adventures</h3>
    {{#if total}}
      <div class="tally">{{total}}</div>
    {{/if}}
  </div>
{{/unless}}
<div class="item-list-content">
  {{#if loading}}
    {{loading-graphic}}
  {{else}}
    {{#each adventuresGrouped as |obj|}}
      <div class="item-list-divider">{{obj.title}}</div>
      {{#each obj.adventures as |adventure index|}}
        <!--TODO inline banner every certain number of-->
        {{adventures-list-item model=adventure}}
      {{/each}}
    {{else}}
      {{#unless hideHeader}}
        <!-- No Adventures -->
          {{#link-to 'adventures.new'}}
            <div class="callout no-adventures-created">
              <img src="img/logo/yazda_image_only_white.svg"/>
              <h3>No <strong>adventures</strong> in your area?</h3>
              <h3>Start by <strong>creating one now!</strong></h3>
            </div>
          {{/link-to}}
      {{/unless}}
    {{/each}}
  {{/if}}

</div>
<!--TODO better pagination-->
<!-- Begin Pagination -->
{{#if (gt page_count 1)}}
  <ul class="pagination text-center" role="navigation" aria-label="Pagination">
    {{#if hasPreviousPage}}
      <li class="pagination-previous">
        <a {{action 'previousPage'}}>Previous</a>
      </li>
    {{/if}}
    {{#if hasNextPage}}
      <li class="pagination-next">
        <a aria-label="Next page" {{action 'nextPage'}}>Next</a>
      </li>
    {{/if}}
  </ul>
  <!-- End Pagination -->
{{/if}}
