<div class="row">
  <div class="chat-bubble {{getSide}}">
    <div class="chat-pic-{{getSide}}">
      <img src={{message.user.profile_image_url}} />
    </div>
    <p class="chat-text">{{linkify message.msg rel='nofollow'}}</p>
    <div class="chat-detail">
      <strong>{{message.user.name}}</strong> &middot;
      <span>{{moment-from-now message.sent_at interval=1000}}</span>
    </div>
  </div>
</div>
