{{#if isModal}}
  {{#if adventure}}
    <div class="chat-btn hide-for-large">
      <a data-open="chatModal" title="{{websocket.adventureUnread}} new
      messages for this adventure" class="new-messages" {{action 'scroll'}}>
        <i class="ion-chatbubbles"></i>
        {{#if websocket.adventureUnread}}
          <span class="badge alert">{{websocket.adventureUnread}}</span>
        {{/if}}
      </a>
    </div>
  {{else}}
    <div class="chat-btn">
      <a data-open="conversationsModal" title="{{websocket.unread}} new
      messages" class="new-messages" {{action 'scroll'}}>
        <i class="ion-chatbubbles"></i>
        {{#if websocket.unread}}
          <span class="badge alert">{{websocket.unread}}</span>
        {{/if}}
      </a>
    </div>
  {{/if}}
  <!-- BEGIN CONVERSATIONS MODAL -->
  {{#zf-reveal id="conversationsModal" class="item-list-reveal"
               overlay=showDialogOverlay}}

    <div class="item-list item-list-messages">
      <div class="item-list-header">
        <h3><i class="ion-chatbubbles"></i> Messages</h3>
        {{#if websocket.unread}}
          <div class="tally">{{websocket.unread}}</div>
        {{/if}}
      </div>

      <div class="messages-list-content">
        {{#each websocket.conversations as |message|}}
          <a data-open="chatModal" {{action 'openConversation'
                                            message.conversationId}}>
            {{conversation-item conversation=message}}
          </a>
        {{/each}}
      </div>
    </div>
    <button class="close-button" data-close aria-label="Close reveal"
            type="button" title="Cancel">
      <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
    </button>
  {{/zf-reveal}}
  <!-- END CONVERSATIONS MODAL -->
  <!-- BEGIN MESSAGES MODAL -->
  {{#zf-reveal id="chatModal" class="item-list-reveal"
               overlay=showDialogOverlay}}

    <div class="chat-show-wrapper">
      <div class="item-list-header chat-show-header">
        <h3 class="single-line-text">
          {{#if adventure}}
            {{adventure.name}}
          {{else}}
            {{title}}
          {{/if}}
        </h3>
      </div>

      <!--TODO adventure vs chat-->
      <div class="chat-show-content">
        {{#if adventure}}
          {{#each websocket.adventureMessages as |message|}}
            {{chat-item message=message}}
          {{/each}}
        {{else}}
          {{#each websocket.messages as |message|}}
            {{chat-item message=message}}
          {{/each}}
        {{/if}}
      </div>

      <div class="chat-show-footer" keyboard-attach>
        <form id="" class="new-message-submit">
          <div class="input-group">
            {{textarea class="input-group-field" type="text" focus-in="markRead"
                       placeholder="Type your message..." autoresize=true
                       minlength="1" maxlength="1500" value=msg}}
            <div class="input-group-button">
              <input type="submit" class="button new-message-send-btn"
                     value="SEND" disabled={{disabled}}
                {{action 'sendMessage'}}>
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="close-button" data-close aria-label="Close reveal"
            type="button" title="Cancel">
      <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
    </button>
  {{/zf-reveal}}
  <!-- END MESSAGES MODAL -->
{{else}}
  <div class="item-list item-list-chat show-for-large">
    <div class="item-list-header">
      <h3><i class="ion-chatbubbles"></i> Messages</h3>
      <!--TODO unread for chat vs adventures-->
      {{#if websocket.adventureUnread}}
        <div class="tally">{{websocket.adventureUnread}}</div>
      {{/if}}
    </div>
    <div class="chat-list-content">
      <!--TODO adventure vs chat-->
      <div class="chat-show-content">
        {{#if adventure}}
          {{#each websocket.adventureMessages as |message|}}
            {{chat-item message=message}}
          {{/each}}
        {{else}}
          {{#each websocket.messages as |message|}}
            {{chat-item message=message}}
          {{/each}}
        {{/if}}
      </div>

      <div class="chat-show-footer" keyboard-attach>
        <form id="" class="new-message-submit">
          <div class="input-group">
            {{textarea class="input-group-field" type="text" focus-in="markRead"
                       placeholder="Type your message..." autoresize=true
                       minlength="1" maxlength="1500" value=msg}}
            <div class="input-group-button">
              <input type="submit" class="button new-message-send-btn"
                     value="SEND" disabled={{disabled}}
                {{action 'sendMessage'}}>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{{/if}}
