<div class="expanded row banner-show">

  <div class="button-group small to-tab-btn-group">
    {{#scroll-to href='#panel1' class='button' afterScroll='openPanel1'}}
      Adventures
    {{/scroll-to}}
    {{#scroll-to href='#panel2' class='button' afterScroll='openPanel2'}}
      Members
    {{/scroll-to}}
  </div>

  <div class="show-background"
       style="background-image: url('{{club.banner_image_url}}');"></div>

  <div class="expanded row show-content">

    <div class="show-user-image">
      <div class="user-avatar profile"><img
          src="{{club.profile_image_url}}"/>
      </div>
    </div>

    <div class="show-info">
      <h4 class="show-user-name">{{club.name}}</h4>
      <span class="show-location" title="View Location"><i
          class="ion-ios-location"></i> {{club.location}}</span>
      {{#if club.website}}
        <a data-scroll href="{{club.website}}" class="show-website"
           title="View Website"><i class="ion-earth"></i> {{club.website}}</a>
      {{/if}}
      <p class="show-adventures-created">Upcoming Adventures
        <span>{{club.adventures_count}}</span></p>

      {{social-share}}

    </div>
  </div>

  <div id="show-description-container"
       class="expanded row show-description-container">
    {{#if club.html_description}}
      <div class="large-8 medium-12 columns show-description">
        {{{club.html_description}}}
      </div>
    {{/if}}

    <div class="large-4 medium-12 columns">
      <div class="add-friend-btn-wrapper sticky-container" style="height:40px"
           data-sticky-container>
        {{#if canEdit}}
          {{#link-to 'clubs.edit' club.id class="button expanded primary
          show-cta-btn sticky"}}Edit Club{{/link-to}}
        {{else}}
          {{#if club.is_member}}
            {{async-button reset=true
                           class="button expanded alert show-cta-btn sticky"
                           action=(action 'leaveClub') data-sticky=true
                           data-anchor="club-show-content"
                           default="<i class='ion-ios-minus-empty'></i> Leave Club"}}
          {{else}}
            {{async-button reset=true
                           class="button expanded energized show-cta-btn sticky"
                           action=(action 'joinClub') data-sticky=true
                           data-anchor="club-show-content"
                           default="<i class='ion-ios-plus-empty'></i> Join Club"}}
          {{/if}}
        {{/if}}
      </div>
      {{#if club.waiver_url}}
        <a href="{{club.waiver_url}}" class="button expanded secondary
      show-cta-btn show-waiver-btn" title="View Club Waiver" rel="nofollow"><i
            class="ion-document-text"></i> View Club Waiver</a>
      {{/if}}
    </div>
  </div>
</div>
<div id="club-show-content" class="content-inner-wrapper-show expanded row">

  <!-- Main Content -->
  <div class="large-8 medium-12 columns">

    {{#zf-tabs class="club-show-tabs" id="club-show-tabs"}}
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true"><i
          class="icon-adventures"></i> Adventures</a></li>
      <li class="tabs-title"><a href="#panel2"><i class="ion-ios-people"></i>
        Members <span>{{club.member_count}}</span></a></li>
    {{/zf-tabs}}
    <div class="tabs-content club-show-tabs-content"
         data-tabs-content="club-show-tabs">

      <div class="tabs-panel is-active" id="panel1">
        {{adventures-list clubId=club.id hideHeader=true}}
      </div>

      <div class="tabs-panel" id="panel2">
        <!--TODO update user role-->
        {{users-list clubId=club.id}}
      </div>
    </div>
  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-12 columns">
    {{#if session.isAuthenticated}}
      <div class="callout">
        <h5>Notification Preferences</h5>
        <div class="row">
          <div class="small-6 columns">
            <label for="middle-label" class="text-left middle">
              Adventure Invites
            </label>
          </div>
          <div class="small-6 columns">
            <select
                onchange={{action (mut club.adventure_invite)
                                  value="target.value"}}
                    id="club-adventure-type-select" required>
              <option value="both" selected={{eq club.adventure_invite
                                                 'both'}}>both
              </option>
              <option value="email" selected={{eq club.adventure_invite
                                                  'email'}}>email
              </option>
              <option value="push" selected={{eq club.adventure_invite
                                                 'push'}}>push
              </option>
              <option value='' selected={{eq club.adventure_invite 'none'}}>
                none
              </option>
            </select>
          </div>
        </div>
      </div>
    {{/if}}
    {{main-sidebar showSimilarClubs=true}}
  </div>
  <!-- End Sidebar -->
</div>
