<form id="form-club-create" class="form-create" method="post" data-abide
      novalidate>

  <div class="item-list-header">
    <h3><i class="icon-club-add"></i> Create Club</h3>
  </div>

  <div class="expanded row large-collapse medium-collapse small-collapse">

    <div class="large-12 medium-12 columns">

      <div class="input-group">
        <span class="input-group-label yazda-input-label"><i
            class="ion-ios-location"></i></span>
        {{place-autocomplete-field placeholder="What's your location?"
                                   required=true value=club.location
                                   id="create-location"
                                   inputClass='input-group-field'
                                   types='(cities)'}}
      </div>
      <!-- Error -->
      {{#each club.errors.location as |error|}}
        <span class="form-error"
              style="display: block;">{{error.message}}</span>
      {{/each}}
      <!-- End Error -->

      <div class="input-group">
        <span class="input-group-label yazda-input-label"><i
            class="icon-clubs"></i></span>
        {{input id="create-club-name" class="input-group-field" type="text"
                placeholder="Club Name" required=true value=club.name }}
      </div>
      <!-- Error -->
      {{#each club.errors.name as |error|}}
        <span class="form-error"
              style="display: block;">{{error.message}}</span>
      {{/each}}
      <!-- End Error -->

      <div class="input-group">
        <span class="input-group-label yazda-input-label"><i
            class="ion-earth"></i></span>
        {{input id="create-club-url" class="input-group-field" type="url"
                placeholder="Website" value=club.website}}
      </div>
      <!-- Error -->
      {{#each club.errors.website as |error|}}
        <span class="form-error"
              style="display: block;">{{error.message}}</span>
      {{/each}}
      <!-- End Error -->

      <!-- TODO waiver
      <div class="input-group upload-waiver-wrapper show-for-large">
        <label for="waiverFileUpload"
               class="button expanded create-upload-waiver-btn"><span
            data-tooltip aria-haspopup="true" class="has-tip top"
            data-disable-hover="false"
            title="Upload an indemnity waiver form for your club.">Upload Club Waiver <i
            class="ion-ios-help-outline help-icon"></i></span></label>
        <i class="icon ion-upload"></i>
        {{input type="file" id="waiverFileUpload" class="show-for-sr"
                value=club.waiver accept="application/pdf"}}
      </div>
      -- Error -->
      {{#each club.errors.waiver as |error|}}
        <span class="form-error"
              style="display: block;">{{error.message}}</span>
      {{/each}}
      <!-- End Error -->

      {{textarea placeholder="A little about your Club (optional)"
                 value=club.description}}
      {{#each club.errors.description as |error|}}
        <span class="form-error"
              style="display: block;">{{error.message}}</span>
      {{/each}}
    </div>
  </div>

  <div class="large-12 columns">
    {{async-button class="button balanced expanded create-cta-btn"
                   action=(action 'save') default="Create Your Club!"
                   reset=true}}
  </div>
</form>
