<div class="item-list">
  {{#if loading}}
    {{loading-graphic}}
  {{else}}

    <div class="item-list-header">
      <h3><i class="icon-clubs"></i> Clubs</h3>
      <div class="tally">{{clubs.length}}</div>
    </div>
    <div class="item-list-content">
      {{#each clubs as |club|}}
        {{club-card club=club}}
      {{/each}}
    </div>
  {{/if}}
</div>
