<form id="user-edit-form" class="edit-form" data-abide novalidate>

  <div class="expanded row banner-show">

    <div class="show-background edit-background"
         style="background-image: url('{{club.banner_image_url}}');"></div>

    {{#if uploading}}
      <div data-abide-error data-closable class="primary callout yazda-alert">
        <p>Uploading...</p>
      </div>
    {{/if}}
    <!-- Error -->
    {{#if club.errors}}
      {{error-banner message='There was an error saving your club.'}}
    {{/if}}
    <!-- End error -->

    <div class="expanded row show-content">
      <div class="background-upload-wrapper show-for-large">
        <label for="backgroundFileUpload" class="button"><i
            class="ion-ios-cloud-upload" title="Upload Background"></i> <span>Upload Background</span></label>
        {{#if  media.isLarge}}
          {{input type="file" value=banner id="backgroundFileUpload"
                  class="show-for-sr"}}
        {{/if}}
      </div>

      <div class="show-user-image">
        <div class="user-avatar profile"><img
            src="{{club.profile_image_url}}"/></div>
        <label for="avatarFileUpload" class="button show-for-large"><i
            class="ion-ios-cloud-upload" title="Upload Picture"></i> <span>Upload Picture</span></label>
        {{#if  media.isLarge}}
          {{input type="file" value=avatar id="avatarFileUpload"
                  class="show-for-sr show-for-large"}}
        {{/if}}
      </div>

      <div class="show-info">
        {{#unless  media.isLarge}}
          <label for="avatarFileUpload"
                 class="button small energized hide-for-large"><i
              class="ion-ios-cloud-upload"></i> Upload Picture</label>
          {{input type="file" value=avatar id="avatarFileUpload"
                  class="show-for-sr hide-for-large"}}
          <label for="backgroundFileUpload"
                 class="button small energized hide-for-large"><i
              class="ion-ios-cloud-upload"></i> Upload Background</label>
          {{input type="file" value=banner id="backgroundFileUpload"
                  class="show-for-sr hide-for-large"}}
        {{/unless}}
        <label for="waiverFileUpload"
               class="button small energized show-for-large"><i
            class="ion-ios-cloud-upload"></i> Upload Club Waiver</label>
        {{input type="file" value=waiver id="waiverFileUpload"
                class="show-for-sr hide-for-large" accept="application/pdf"}}

        {{input id="edit-club-name" class="input-group-field" type="text"
                placeholder="Club Name" required=true value=club.name }}
        <!-- Error -->
        {{#each club.errors.name as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}
        <!-- End Error -->

        {{place-autocomplete-field placeholder="What's your location?"
                                   required=true value=club.location
                                   id="edit-location"
                                   inputClass='input-group-field'
                                   types='(cities)'}}
        <!-- Error -->
        {{#each club.errors.location as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}
        <!-- End Error -->

        {{input id="edit-url" class="input-group-field" type="url"
                placeholder="Website (optional)" value=club.website}}
        <!-- Error -->
        <span class="form-error">
          {{#each club.errors.website as |error|}}
            <span class="form-error"
                  style="display: block;">{{error.message}}</span>
          {{/each}}
        </span>
        <!-- End Error -->

        {{textarea placeholder="A little about your Club (optional)"
                   value=club.description}}
        {{#each club.errors.description as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}
        {{async-button class="button balanced expanded create-cta-btn"
                       action=(action 'save')  reset=true
                       default="Save Your Club!"}}
      </div>
    </div>
  </div>
</form>
