<div class="card club-card inset-background"
     style="background-image: url({{club.banner_image_thumb_url}})">
  {{#link-to 'clubs.show' club.id}}
    <div class="show-user-image">
      <div class="user-avatar card-image"><img
          src="{{club.profile_image_thumb_url}}"/>
      </div>
    </div>
    <div class="card-section card-title">
      <h4>{{club.name}}</h4>
      <p class="subheader">
        <i class="ion-ios-location"></i> {{club.location}}
      </p>
    </div>
  {{/link-to}}
  <div class="card-divider club-card-actions">
    <div class="row">
      <div class="small-4 columns text-center">
        {{club.member_count}} Members
      </div>
      <div class="small-4 columns text-center">
        {{club.adventures_count}} Adventures
      </div>
      <div class="small-4 columns text-center">
        {{#unless club.is_member}}
          <span {{action 'joinClub'}} class="energized join-button">
            <i class="ion-plus"></i> Join Club</span>
        {{/unless}}
      </div>
    </div>
  </div>
</div>
