<div class="sidebar-item-image">
  {{#each firstThree as |user|}}
    <span class="user-avatar multi-user {{imageClass}}">
      <img src={{user.profile_image_url}}/>
    </span>
  {{/each}}
</div>
<div class="sidebar-item-content">
  <div class="single-line-text">
    <span class="user-name">{{title}}</span>
  </div>
  <div class="message-time">
    {{moment-from-now conversation.sent_at interval=1000}}
  </div>
  <span class="message-text single-line-text">
    {{conversation.msg}}
  </span>
</div>
{{#if conversation.unread}}
  <span class="badge badge-message"
        title="{{conversation.unread}} new messages in this conversation">
      <span class="badge-message-arrow"></span>{{conversation.unread}}
    </span>
{{/if}}
