<div data-abide-error data-closable class="alert callout yazda-alert">
  <!--TODO onclose-->
  <p>{{message}}</p>
  <button class="close-button" aria-label="Dismiss alert" type="button"
          data-close>
    <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
  </button>
</div>