{{#if sentMessage}}
  <div data-abide-error data-closable class="alert callout yazda-alert">
    <p>We've sent a password reset request to your email if we have it on
       file.</p>
    <button class="close-button" aria-label="Dismiss alert" type="button"
            data-close>
      <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
    </button>
  </div>
{{/if}}
<a data-open="passwordModal" title="Reset your password">Forgot password?</a>
{{#zf-reveal id="passwordModal"}}
  <h4 class="center-text">Forgot your password?</h4>
  <p class="center-text">Enter your email address to request a password
                         reset.</p>
  <form action="post" class="password-modal"
    {{action 'sendResetPassword' on='submit'}} novalidate>
    <div class="row">
      <div class="large-12 medium-12 columns">
        {{input class="center-text forgot-password-input" type="email"
        placeholder="Email" value=email}}
      </div>
      <div class="large-12 medium-12 columns">
        <div class="input-group">
          <input class="expanded button energized register-submit-btn"
                 type="submit" value="Send Request"/>
        </div>
      </div>
    </div>
  </form>
  <button class="close-button" data-close aria-label="Close reveal"
          type="button" title="Cancel">
    <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
  </button>
{{/zf-reveal}}