{{#if isModal}}
  <a data-open="requestModal" title="{{requests.length}} New Friend Requests"><i
      class="icon-avatar"></i>
    {{#if requests.length}}
      <span
          class="badge alert">{{requests.length}}</span>
    {{/if}}
  </a>
  <!-- BEGIN NEW ADVENTURE INVITES MODAL -->
  {{#zf-reveal id="requestModal"
  class="item-list-reveal" overlay=showDialogOverlay}}
    <div class="item-list friends">
      {{#if loading}}
        {{loading-graphic}}
      {{else}}
        <div class="item-list-header">
          <h3><i class="icon-avatar"></i> New Friend Requests</h3>
          <div class="tally">{{requests.length}}</div>
        </div>
        <div class="friend-list-content">
          {{#each requests as |friendship|}}
            {{friend-request-item friendship=friendship}}
          {{/each}}
        </div>
      {{/if}}
    </div>
    <button class="close-button" data-close aria-label="Close reveal"
            type="button" title="Cancel">
      <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
    </button>
    <!-- END NEW ADVENTURE INVITES MODAL -->
  {{/zf-reveal}}
{{else}}
  {{#if requests}}
    <div class="item-list friends">
      <div class="item-list-header">
        <h3><i class="icon-avatar"></i> New Friend Requests</h3>
        <div class="tally">{{requests.length}}</div>
      </div>
      <div class="friend-list-content">
        {{#each requestsLimited as |friendship|}}
          {{friend-request-item friendship=friendship}}
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/if}}