{{#if displayError}}
  <!--todo onclose-->
  {{error-banner message='We encountered an error. Please try again.'}}
{{/if}}
<article class="item item-friend item-friend-request" data-close>
  {{#link-to 'users.show' friendship.user.id}}
    <div class="sidebar-item-image">
      <span class="user-avatar thumb-user"><img
          src="{{friendship.user.profile_image_thumb_url}}"/>
        {{#if friendship.user.is_adventure_leader}}
          <div class="badge-adventure-leader sm"
               title="Adventure Leader"></div>
        {{/if}}
      </span>
    </div>
    <div class="sidebar-item-content">
      <div class="single-line-text">
        <span class="user-name">{{friendship.user.name}}</span>
      </div>
      {{#if user.location}}
        <div class="adventure-location single-line-text">
          <i class="ion-ios-location"></i> {{user.location}}
        </div>
      {{/if}}
    </div>
  {{/link-to}}
  <div class="ya-na-btn-wrapper">
    <div class="tiny button-group ya-na-btn-group">
      <a class="button ya-na-btn" {{action 'ya'}}>YA</a>
      <a class="button ya-na-btn" {{action 'na'}}>NA</a>
    </div>
  </div>
</article>
