{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#if infinityModel.reachedInfinity}}
    <div class="card center-text subheader">
      <div class="card-section">
        {{loadedText}}
      </div>
    </div>
  {{else}}
    {{loading-graphic}}
  {{/if}}
{{/if}}
