{{#if isModal}}
  <a data-open="inviteModal" title="{{invites.length}} New Adventure Invites"><i
      class="icon-invites"></i>
    {{#if invites.length}}
      <span class="badge alert">{{invites.length}}</span>
    {{/if}}
  </a>
  <!-- BEGIN NEW ADVENTURE INVITES MODAL -->
  {{#zf-reveal id="inviteModal" class="item-list-reveal"
  overlay=showDialogOverlay}}
    <div class="item-list">
      {{#if loading}}
        {{loading-graphic}}
      {{else}}
        <div class="item-list-header">
          <h3><i class="icon-invites"></i> New Adventure Invites</h3>
          <div class="tally">{{invites.length}}</div>
        </div>
        <div class="invite-list-content">
          {{#each invites as |invite|}}
            <a data-close>
              {{invite-list-item invite=invite}}
            </a>
          {{/each}}
        </div>
      {{/if}}
    </div>
    <button class="close-button" data-close aria-label="Close reveal"
            type="button" title="Cancel">
      <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
    </button>
  {{/zf-reveal}}
  <!-- END NEW ADVENTURE INVITES MODAL -->
{{else}}
  {{#if invites}}
    <div class="item-list">
      <div class="item-list-header">
        <h3><i class="icon-invites"></i> New Adventure Invites</h3>
        <div class="tally">{{invites.length}}</div>
      </div>
      <div class="invite-list-content">
        {{#each invitesLimited as |invite|}}
          <a data-close>
            {{invite-list-item invite=invite}}
          </a>
        {{/each}}
      </div>
    </div>
  {{/if}}
{{/if}}