<article class="item item-invite">
  <div class="sidebar-item-image">
    {{#link-to 'users.show' invite.invited_by.id
    class="user-avatar thumb-invite" title=invite.adventure.owner.name}}
      <img src="{{unbound invite.invited_by.profile_image_thumb_url}}"/>
      {{#if invite.invited_by.is_adventure_leader}}
        <div class="badge-adventure-leader sm" title="Adventure Leader"></div>
      {{/if}}
    {{/link-to}}
  </div>
  {{#link-to 'adventures.show' invite.adventure.id }}

    <div class="adventure-time">
      {{moment-format invite.adventure.start_time 'h:mm A'}}
    </div>
    <div class="sidebar-item-content">
      {{adventure-type adventureType=invite.adventure.adventure_type}}
      <div class="single-line-text">
      <span class="adventure-name">
        {{invite.adventure.name}}
      </span>
      </div>
      <div class="adventure-number single-line-text">
        {{invite.adventure.address}}
      </div>
    </div>
  {{/link-to}}
</article>
