<div class="homepage-register-form">

  <!-- Error -->
  {{#if errorMessage}}
    <div data-abide-error class="alert callout">
      <p>{{{errorMessage}}}</p>
    </div>
  {{/if}}
  <!-- End error -->

  <div class="row">
    <div class="large-6 medium-6 columns">
      <a {{action 'authenticateWithStrava'}} class="expanded button
          strava api-login-btn"><img class="strava-logo"
                                     src="img/logo/strava.svg"/> <span>Sign in with Strava</span></a>
    </div>
    <div class="large-6 medium-6 columns">
      <a {{action 'authenticateWithFacebook'}} class="expanded button
          facebook api-login-btn"><img class="facebook-logo"
                                       src="img/logo/facebook.svg"/>
        <span>Sign in with Facebook</span></a>
    </div>
  </div>

  <form class="logged-out-form" data-abide novalidate>
    <div class="row">
      <div class="large-4 medium-6 columns">
        {{input value=identification placeholder='Email' type="email"
                required=true}}
        <!-- Error -->
        <span class="form-error">
              Nope, you need to use a valid email address.
            </span>
        <!-- End Error -->
      </div>
      <div class="large-4 medium-6 columns">
        {{input value=password placeholder='Password' type='password'
                required=true}}
        <!-- Error -->
        <span class="form-error">
              Password must be at least 8 characters.
            </span>
        <!-- End Error -->
      </div>
      <div class="large-4 medium-12 columns">
        <div class="row">
          <div class="input-group">
            {{async-button reset=true
                class="expanded button energized register-submit-btn"
                action=(action 'authenticateWithOAuth2') default="Sign In"}}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="disclaimer">By signing in you agree to our <a
    href="https://yazdaapp.com/terms-of-service/">Terms Of Use</a> and <a
    href="https://yazdaapp.com/privacy/">Privacy Policy</a></div>

<div class="menu-centered">
  <ul class="menu">
    <li>
      {{#link-to 'register' title="Register for an account"}}
        Not a member yet?{{/link-to}}
    </li>
    <li>{{forgot-password}}</li>
  </ul>
</div>
