{{#unless media.isSmall}}
  {{ad-square-sidebar}}

  {{#if session.isAuthenticated}}
    {{friend-requests-list}}

    {{#if showPotentialFriends}}
      {{potential-friends}}
    {{/if}}

    {{invites-list}}
  {{/if}}

  {{#if session.isAuthenticated}}
    {{#if showSimilarClubs}}
      <!--TODO similar clubs-->
    {{/if}}
  {{/if}}
{{else}}
  {{ad-banner-sidebar}}
{{/unless}}
