{{#if session.isAuthenticated}}
  <header>
    <div class="top-bar logged-in main-nav">

      <!-- Off-Canvas Toggle (sm/md screens only) -->
      <div class="menu-toggle-left menu-toggle-left-loggedIn">
        <i class="ion-navicon" aria-controls="zf-off-canvas-left"
           data-toggle="zf-off-canvas-left" title="Menu"></i><span
          class="sr-only"> Menu</span>
      </div>
      <!-- Invites/Requests menu (sm screens only) -->
      <ul class="menu menu-header-links align-left nav-header-left">
        <li>{{invites-list isModal=true}}</li>
        <li>{{friend-requests-list isModal=true}}</li>
      </ul>

      <div class="header-logo">
        {{#link-to 'index'}}
          <img src="img/logo/yazda_hor_notagline.svg"/>
        {{/link-to}}
      </div>

      <!-- Right Menu Links -->
      <ul class="menu menu-header-links align-right">
        {{#if canNavProfile}}
          <li>
            {{#link-to 'profile' title="Your Profile"}}
              <i class="icon-profile"></i>
            {{/link-to}}
          </li>
        {{/if}}
        {{#if canEditProfile}}
          <li>
            {{#link-to 'profile.edit' class="edit-profile"
                       title="Edit Profile"}}
              Edit
            {{/link-to}}
          </li>
        {{/if}}
        {{#if canCreateClub}}
          <li>
            {{#link-to 'clubs.new' title="Create Club"}}
              <i class="icon-club-add"></i>
            {{/link-to}}
          </li>
        {{/if}}
        {{#if canCancel}}
          <li>
            {{#link-to 'index' class="cancel" title="Cancel"}}
              Cancel
            {{/link-to}}
          </li>
        {{/if}}
        {{#if canCreateAdventure}}
          <li>
            {{#link-to 'adventures.new' title="Create Adventure"}}
              <i class="icon-adventure-add"></i>
            {{/link-to}}
          </li>
        {{/if}}
      </ul>

    </div>
  </header>
{{else}}
  <header>
    <div class="top-bar logged-out main-nav main-nav-fixed main-nav-top">

      <!-- Main Nav (lg/xlg screens only) -->
      <ul class="menu menu-header-links menu-header-links-out">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li>{{#link-to 'bike-riders'}}Riders{{/link-to}}</li>
        <li>{{#link-to 'bike-clubs'}}Clubs{{/link-to}}</li>
        <li>{{#link-to 'bike-shops'}}Shops{{/link-to}}</li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>

      <!-- Off-Canvas Toggle (sm/md screens only) -->
      <div class="menu-toggle-left menu-toggle-left-loggedOut">
        <i class="ion-navicon" aria-controls="zf-off-canvas-left"
           data-toggle="zf-off-canvas-left" title="Menu"></i><span
          class="sr-only"> Menu</span>
      </div>
      <div class="header-logo">
        {{#link-to 'index'}}
          <img src="img/logo/yazda_hor_notagline.svg"/>
        {{/link-to}}
      </div>
      <div class="menu-signup">
        {{#link-to 'register' class="button hollow small balanced signin-btn"}}Register{{/link-to}}
        <a {{action 'login'}}
            class="button hollow small balanced signin-btn">Sign In</a>
      </div>
    </div>
  </header>
{{/if}}
