{{#if show}}
  <div class="item-list friends">
    <div class="item-list-header">
      <h3><i class="icon-avatar"></i> Do you know?</h3>
    </div>
    <div class="friend-list-content">
      {{#each usersLimited as |user|}}
        {{#if displayError}}
          <!--todo onclose-->
          {{error-banner message='We encountered an error. Please try again.'}}
        {{/if}}
        <article class="item item-friend item-friend-request" data-close>
          {{#link-to 'users.show' user.id}}
            <div class="sidebar-item-image">
      <span class="user-avatar thumb-user"><img
          src="{{user.profile_image_thumb_url}}"/>
        {{#if user.is_adventure_leader}}
          <div class="badge-adventure-leader sm"
               title="Adventure Leader"></div>
        {{/if}}
      </span>
            </div>
            <div class="sidebar-item-content">
              <div class="single-line-text">
                <span class="user-name">{{user.name}}</span>
              </div>
              {{#if user.location}}
                <div class="adventure-location single-line-text">
                  <i class="ion-ios-location"></i> {{user.location}}
                </div>
              {{/if}}
            </div>
          {{/link-to}}
          <div class="ya-na-btn-wrapper">
            <div class="tiny button balanced" {{action 'addFriend' user.id}}>
              add friend
            </div>
          </div>
        </article>

      {{/each}}
    </div>
  </div>
  <!--TODO ask to invite if no friends they know-->
{{/if}}
