<form id="user-edit-form" class="edit-form profile-edit-form" data-abide
      novalidate>

  <div class="expanded row banner-show">

    <div class="show-background edit-background"
         style="background-image: url('{{user.banner_image_url}}');"></div>

    {{#if uploading}}
      <div data-abide-error data-closable class="primary callout yazda-alert">
        <p>Uploading...</p>
      </div>
    {{/if}}

    <div class="expanded row show-content">
      <div class="background-upload-wrapper show-for-large">
        <label for="backgroundFileUpload" class="button"><i
            class="ion-ios-cloud-upload" title="Upload Background"></i> <span>Upload Background</span></label>
        {{#if  media.isLarge}}
          {{input type="file" value=banner id="backgroundFileUpload"
                  class="show-for-sr"}}
        {{/if}}
      </div>

      <div class="show-user-image">
        <div class="user-avatar profile"><img
            src="{{user.profile_image_url}}" style="vertical-align: initial;"/>
        </div>
        <label for="avatarFileUpload" class="button show-for-large"><i
            class="ion-ios-cloud-upload" title="Upload Picture"></i> <span>Upload Picture</span></label>
        {{#if  media.isLarge}}
          {{input type="file" value=avatar id="avatarFileUpload"
                  class="show-for-sr show-for-large"}}
        {{/if}}
      </div>

      <div class="show-info">
        {{#unless  media.isLarge}}
          <label for="avatarFileUpload"
                 class="button small energized hide-for-large"><i
              class="ion-ios-cloud-upload"></i> Upload Picture</label>
          {{input type="file" value=avatar id="avatarFileUpload"
                  class="show-for-sr hide-for-large"}}
          <label for="backgroundFileUpload"
                 class="button small energized hide-for-large"><i
              class="ion-ios-cloud-upload"></i> Upload Background</label>
          {{input type="file" value=banner id="backgroundFileUpload"
                  class="show-for-sr hide-for-large"}}
        {{/unless}}
      </div>
    </div>

    <div class="expanded row show-content">
      <div class="medium-offset-2 medium-8 columns ">
        {{input id="edit-club-name" class="input-group-field" type="text"
                placeholder="Name" required=true value=user.name }}
        <!-- Error -->
        {{#each user.errors.name as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}
        <!-- End Error -->

        {{place-autocomplete-field placeholder="What's your location?"
                                   required=true value=user.location
                                   id="edit-location"
                                   inputClass='input-group-field'
                                   types='(cities)'}}
        <!-- Error -->
        {{#each user.errors.location as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}
        <!-- End Error -->

        {{textarea placeholder="A little about yourself (optional)"
                   value=user.description}}
        {{#each user.errors.description as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}

        {{#zf-accordion}}
          <li class="accordion-item is-active">
            <!-- The tab title needs role="tab", an href, a unique ID, and aria-controls. -->
            <a role="tab" class="accordion-title"
               aria-controls="private">Private</a>
            <div class="accordion-content" role="tabpanel"
                 data-tab-content aria-labelledby="private-heading">
              {{input id="edit-user-phone" class="input-group-field" type="tel"
                      placeholder="Phone (optional)" value=user.phone}}
              <!-- Error -->
              {{#each user.errors.phone as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}
              <!-- End Error -->

              <div class="input-group">
                <span class="input-group-label">Gender</span>
                <select class="input-group-field"
                        onchange={{action (mut user.gender)
                                          value="target.value"}}
                            id="gender-select">
                  <option value="male" selected={{eq user.gender 'male'}}>
                    Male
                  </option>
                  <option value="female" selected={{eq user.gender 'female'}}>
                    Female
                  </option>
                  <option value="no_answer" selected={{eq user.gender
                                                          'no_answer'}}>
                    No Answer
                  </option>
                </select>
              </div>

              {{#each user.errors.gender as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}

              <!--TODO birthday-->
            </div>
          </li>

          <li class="accordion-item is-active">
            <!-- The tab title needs role="tab", an href, a unique ID, and aria-controls. -->
            <a role="tab" class="accordion-title"
               aria-controls="panel1d">Show Me</a>
            <!-- The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby. -->
            <div class="accordion-content" role="tabpanel" data-tab-content
                 aria-labelledby="panel1d-heading">
              <div class="input-group">
                <span class="input-group-label yazda-input-label"
                      style="font-size: 16px;">Mountain Biking
                  {{#zf-tooltip class="right"
                                style="font-size: 16px;"
                                data-disable-hover="false"
                                title="Show Mountain Biking Adventures"}}<i
                      class="ion-ios-help-outline help-icon"></i>{{/zf-tooltip}}</span>
                <div id="public-switch" class="input-group-field"
                     type="text"></div>
                <div class="input-group-label yazda-input-label"
                     style="font-size: 16px;">
                  <div class="switch">
                    {{input type="checkbox" class="switch-input"
                            checked=user.views_mountain_biking
                            id="views-mountain-biking"}}
                    <label class="switch-paddle"
                           for="views-mountain-biking"><span
                        class="show-for-sr">Mountain Biking</span></label>
                  </div>
                </div>
              </div>
              {{#each user.errors.views_mountain_biking as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}

              <div class="input-group">
                <span class="input-group-label yazda-input-label"
                      style="font-size: 16px;">Road Biking
                  {{#zf-tooltip class="right"
                                style="font-size: 16px;"
                                data-disable-hover="false"
                                title="Show Road Biking Adventures"}}<i
                      class="ion-ios-help-outline help-icon"></i>{{/zf-tooltip}}</span>
                <div id="public-switch" class="input-group-field"
                     type="text"></div>
                <div class="input-group-label yazda-input-label"
                     style="font-size: 16px;">
                  <div class="switch">
                    {{input type="checkbox" class="switch-input" checked=user
                    .views_biking id="views-biking"}}
                    <label class="switch-paddle" for="views-biking"><span
                        class="show-for-sr">Road Biking</span></label>
                  </div>
                </div>
              </div>
              {{#each user.errors.views_biking as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}


              <div class="input-group">
                <span class="input-group-label yazda-input-label"
                      style="font-size: 16px;">Hiking
                  {{#zf-tooltip class="right"
                                style="font-size: 16px;"
                                data-disable-hover="false"
                                title="Show Hiking Adventures"}}<i
                      class="ion-ios-help-outline help-icon"></i>{{/zf-tooltip}}</span>
                <div id="public-switch" class="input-group-field"
                     type="text"></div>
                <div class="input-group-label yazda-input-label"
                     style="font-size: 16px;">
                  <div class="switch">
                    {{input type="checkbox" class="switch-input"
                            checked=user.views_hiking id="views-hiking"}}
                    <label class="switch-paddle" for="views-hiking"><span
                        class="show-for-sr">Hiking</span></label>
                  </div>
                </div>
              </div>
              {{#each user.errors.views_hiking as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}
            </div>
          </li>

          <li class="accordion-item is-active">
            <!-- The tab title needs role="tab", an href, a unique ID, and aria-controls. -->
            <a role="tab" class="accordion-title"
               aria-controls="panel1d">Notification Settings</a>
            <!-- The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby. -->
            <div class="accordion-content" role="tabpanel" data-tab-content
                 aria-labelledby="panel1d-heading">
              <div class="row">
                <div class="small-3 columns">
                  <label for="middle-label" class="text-left middle">
                    Adventure Invites
                  </label>
                </div>
                <div class="small-9 columns">
                  <select
                      onchange={{action (mut user.adventure_invite)
                                        value="target.value"}} required>
                    <option value="both" selected={{eq user.adventure_invite
                                                       'both'}}>both
                    </option>
                    <option value="email" selected={{eq user.adventure_invite
                                                        'email'}}>email
                    </option>
                    <option value="push" selected={{eq user.adventure_invite
                                                       'push'}}>push
                    </option>
                    <option value="none" selected={{eq user.adventure_invite
                                                       'none'}}>none
                    </option>
                  </select>
                </div>
              </div>
              {{#each user.errors.adventure_invite as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}
              <div class="row">
                <div class="small-3 columns">
                  <label for="middle-label" class="text-left middle">
                    Adventure Updates
                  </label>
                </div>
                <div class="small-9 columns">
                  <select
                      onchange={{action (mut user.adventure_edit)
                                        value="target.value"}} required>
                    <option value="both" selected={{eq user.adventure_edit
                                                       'both'}}>both
                    </option>
                    <option value="email" selected={{eq user.adventure_edit
                                                        'email'}}>email
                    </option>
                    <option value="push" selected={{eq user.adventure_edit
                                                       'push'}}>push
                    </option>
                    <option value="none" selected={{eq user.adventure_invite
                                                       'none'}}>none
                    </option>
                  </select>
                </div>
              </div>
              {{#each user.errors.adventure_edit as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}

              <div class="row">
                <div class="small-3 columns">
                  <label for="middle-label" class="text-left middle">
                    Adventure Cancelations
                  </label>
                </div>
                <div class="small-9 columns">
                  <select
                      onchange={{action (mut user.adventure_cancel)
                                        value="target.value"}} required>
                    <option value="both" selected={{eq user.adventure_cancel
                                                       'both'}}>both
                    </option>
                    <option value="email" selected={{eq user.adventure_cancel
                                                        'email'}}>email
                    </option>
                    <option value="push" selected={{eq user.adventure_cancel
                                                       'push'}}>push
                    </option>
                    <option value="none" selected={{eq user.adventure_invite
                                                       'none'}}>none
                    </option>
                  </select>
                </div>
              </div>
              {{#each user.errors.adventure_cancel as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}

              <div class="row">
                <div class="small-3 columns">
                  <label for="middle-label" class="text-left middle">
                    Adventure Reminders
                  </label>
                </div>
                <div class="small-9 columns">
                  <select
                      onchange={{action (mut user.adventure_invite)
                                        value="target.value"}} required>
                    <option value="both" selected={{eq user.adventure_invite
                                                       'both'}}>both
                    </option>
                    <option value="email" selected={{eq user.adventure_invite
                                                        'email'}}>email
                    </option>
                    <option value="push" selected={{eq user.adventure_invite
                                                       'push'}}>push
                    </option>
                    <option value="none" selected={{eq user.adventure_invite
                                                       'none'}}>none
                    </option>
                  </select>
                </div>
              </div>
              {{#each user.errors.adventure_invite as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}

              <div class="row">
                <div class="small-3 columns">
                  <label for="middle-label" class="text-left middle">
                    Someone Joins My Adventure
                  </label>
                </div>
                <div class="small-9 columns">
                  <select
                      onchange={{action (mut user.adventure_joined)
                                        value="target.value"}} required>
                    <option value="both" selected={{eq user.adventure_joined
                                                       'both'}}>both
                    </option>
                    <option value="email" selected={{eq user.adventure_joined
                                                        'email'}}>email
                    </option>
                    <option value="push" selected={{eq user.adventure_joined
                                                       'push'}}>push
                    </option>
                    <option value="none" selected={{eq user.adventure_joined
                                                       'none'}}>none
                    </option>
                  </select>
                </div>
              </div>
              {{#each user.errors.adventure_joined as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}

              <div class="row">
                <div class="small-3 columns">
                  <label for="middle-label" class="text-left middle">
                    Chat Messages
                  </label>
                </div>
                <div class="small-9 columns">
                  <select
                      onchange={{action (mut user.chat)
                                        value="target.value"}} required>
                    <option value="both" selected={{eq user.chat
                                                       'both'}}>both
                    </option>
                    <option value="email" selected={{eq user.chat
                                                        'email'}}>email
                    </option>
                    <option value="push" selected={{eq user.chat
                                                       'push'}}>push
                    </option>
                    <option value="none" selected={{eq user.chat
                                                       'none'}}>none
                    </option>
                  </select>
                </div>
              </div>
              {{#each user.errors.chat as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}

              <div class="row">
                <div class="small-3 columns">
                  <label for="middle-label" class="text-left middle">
                    Friend Requests
                  </label>
                </div>
                <div class="small-9 columns">
                  <select
                      onchange={{action (mut user.friend)
                                        value="target.value"}} required>
                    <option value="both" selected={{eq user.friend
                                                       'both'}}>both
                    </option>
                    <option value="email" selected={{eq user.friend
                                                        'email'}}>email
                    </option>
                    <option value="push" selected={{eq user.friend
                                                       'push'}}>push
                    </option>
                    <option value="none" selected={{eq user.friend
                                                       'none'}}>none
                    </option>
                  </select>
                </div>
              </div>
              {{#each user.errors.friend as |error|}}
                <span class="form-error"
                      style="display: block;">{{error.message}}</span>
              {{/each}}
            </div>
          </li>

        {{/zf-accordion}}

        {{async-button class="button balanced expanded create-cta-btn"
                       action=(action 'save') default="Save!" reset=true}}
      </div>
    </div>
  </div>
</form>
