<div class="homepage-register-form">
  <!-- Error -->
  {{#if errorMessage}}
    <div data-abide-error class="alert callout">
      <p>{{{errorMessage}}}</p>
    </div>
  {{/if}}
  <!-- End error -->
  <div class="row">
    <div class="large-6 medium-6 columns">
      <a class="expanded button strava api-login-btn"
        {{action 'authenticateWithStrava'}}>
        <img class="strava-logo" src="img/logo/strava.svg"/> <span>Register with Strava</span>
      </a>
    </div>
    <div class="large-6 medium-6 columns">
      <a class="expanded button facebook api-login-btn"
        {{action 'authenticateWithFacebook'}}>
        <img class="facebook-logo" src="img/logo/facebook.svg"/> <span>Register with Facebook</span>
      </a>
    </div>
  </div>
  <form action="post" class="logged-out-form" data-abide novalidate>
    <div class="row">
      <div class="large-12 medium-4 columns">
        {{input value=user.name placeholder='First and Last Name' type='text'
                id='userName' min="5" required=true}}
        {{#each user.errors.name as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}
      </div>
      <!--TODO error classes-->
      <div class="large-6 medium-4 columns">
        {{input value=user.email placeholder='Email' type='email'
                id='emailAddress' required=true}}
        {{#each user.errors.email as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}
      </div>
      <div class="large-6 medium-4 columns">
        {{input value=user.password id='password' placeholder='Password'
                type='password' required=true}}
        {{#each user.errors.password as |error|}}
          <span class="form-error"
                style="display: block;">{{error.message}}</span>
        {{/each}}
      </div>

      <div class="large-12 medium-12 columns">
        <div class="row">
          <div class="input-group">
            {{async-button class="expanded button energized register-submit-btn"
                           action=(action 'register') default="Begin Your
                           Adventure!" reset=true}}
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="disclaimer">By clicking "Begin Your Adventure" you agree to our <a
      href="/terms-of-service/">Terms Of Use</a> and <a
      href="/privacy/">Privacy Policy</a></div>

  <div class="menu-centered">
    <ul class="menu">
      <li>
        {{#link-to 'login' title="Sign into your account"}}Already on
                                                           Yazda?{{/link-to}}
      </li>
      <li>
        {{forgot-password}}
      </li>
    </ul>
  </div>
</div>
