{{#if session.isAuthenticated}}
  <!-- Close button -->
  <button class="close-button" aria-label="Close menu" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <!-- Main Nav -->
  <ul class="vertical menu">
    <li data-close>
      {{#link-to 'index'}}<i class="icon-avatar"></i> Dashboard{{/link-to}}
    </li>
    <li data-close>
      {{#link-to 'clubs' title='Clubs'}}<i class="icon-clubs"></i> Clubs{{/link-to}}
    </li>
    <li data-close>
      {{#link-to 'profile'}}<i class="icon-profile"></i> Profile{{/link-to}}
    </li>
    <li data-close>
      <a {{action 'logout'}}><i class="ion-log-out"></i> Sign Out</a>
    </li>
  </ul>
{{else}}
  <!-- Close button -->
  <button class="close-button" aria-label="Close menu" data-close>
    <span aria-hidden="true">&times;</span>
  </button>

  <!-- Main Nav (sm/md screens only) -->
  <ul class="vertical menu">
    <li data-close>
      {{#link-to 'register' class="button hollow small balanced signin-btn"}}Register{{/link-to}}
    </li>
    <li data-close>
      {{#link-to 'login' class="button hollow small balanced signin-btn"}}Sign In{{/link-to}}
    </li>
    <li data-close>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li data-close>{{#link-to 'bike-riders'}}For Bike Riders{{/link-to}}</li>
    <li data-close>{{#link-to 'bike-clubs'}}For Bike Clubs{{/link-to}}</li>
    <li data-close>{{#link-to 'bike-shops'}}For Bike Shops{{/link-to}}</li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>
{{/if}}
