{{#facebook-share fb-layout="link" class="button facebook" tagName="a"
                  title="Share on Facebook" url=location}}
  <i class="ion-social-facebook"></i> <span>Share</span>
{{/facebook-share}}
{{#twitter-share via='yazda_app' related='yazda_app,trail_status'
                 hashtags='DiscoverAdventure' class="button twitter" tagName="a"
                 title="Tweet" url=location}}
  <i class="ion-social-twitter"></i> <span>Tweet</span>
{{/twitter-share}}
<!--TODO google plus at some point-->
<!--<a class="button google-plus" title="Share on Google+"><i-->
<!--class="ion-social-googleplus"></i> <span>Share</span></a>-->
