<div class="item item-friend friend-select {{selectedClass}}">
  <div class="sidebar-item-image">
    {{#link-to 'users.show' user.id class="user-avatar thumb-user"}}
      <img src="{{user.profile_image_url}}"/>
      {{#if user.is_adventure_leader}}
        <div class="badge-adventure-leader sm" title="Adventure Leader"></div>
      {{/if}}
    {{/link-to}}

  </div>
  <div class="sidebar-item-content">
    <div class="single-line-text">
      {{#link-to 'users.show' user.id class="user-name"}}
        {{user.name}}
      {{/link-to}}
    </div>
    {{#if user.location}}
      <div class="adventure-location single-line-text">
        <i class="ion-ios-location"></i> {{user.location}}
      </div>
    {{/if}}
  </div>
  <div class="user-selected-check"><i class="ion-ios-checkmark"></i></div>
</div>
