{{#link-to 'users.show' user.id class="user-avatar thumb-show" title=user.name}}
  <img src={{profileImageUrl}}/>
  {{#if user.is_adventure_leader}}
    <div class="badge-adventure-leader sm"
         title="Adventure Leader"></div>
  {{/if}}
{{/link-to}}
{{#link-to 'users.show' user.id}}
  <span class="user-image-name">{{user.name}}</span>
{{/link-to}}
