{{#unless hideHeader}}
  <!--TODO user search-->
  <!--<div class="input-group input-search-friends">-->
    <!--<span class="input-group-label yazda-input-label"><i-->
        <!--class="ion-ios-search"></i></span>-->
    <!--&lt;!&ndash;TODO search&ndash;&gt;-->
    <!--<input id="search-friends" class="input-group-field" type="search"-->
           <!--placeholder="Search friends..."/>-->
  <!--</div>-->
{{/unless}}
<div class="item-list-content">
  {{#if loading}}
    {{loading-graphic}}
  {{else}}
    <div class="friend-list-content expanded row small-collapse">
      {{#each users as |user|}}
        {{user-list-item user=user onSelect=(action "selectUser" user.id)}}
      {{/each}}
    </div>
  {{/if}}
</div>
<!--TODO pagination-->
{{#if (gt page_count 1)}}
  <ul class="pagination text-center" role="navigation" aria-label="Pagination">
    {{#if hasPreviousPage}}
      <li class="pagination-previous">
        <a {{action 'previousPage'}}>Previous</a>
      </li>
    {{/if}}
    {{#if hasNextPage}}
      <li class="pagination-next">
        <a aria-label="Next page" {{action 'nextPage'}}>Next</a>
      </li>
    {{/if}}
  </ul>
  <!-- End Pagination -->
{{/if}}