{{#link-to 'users.show' user.id class="user-avatar thumb" title=user.name}}
  <img src={{user.profile_image_url}}/>
  {{#if user.is_adventure_leader}}
    <div class="badge-adventure-leader xs"
         title="Adventure Leader"></div>
  {{/if}}
{{/link-to}}
