{{#link-to 'users.show' user.id class="user-avatar profile" title=user.name}}
  <img src={{profileImageUrl}}/>
  {{#if user.is_adventure_leader}}
    <div class="badge-adventure-leader xl"
         title="Adventure Leader"></div>
  {{/if}}
{{/link-to}}
