<div class="expanded row banner-show">

  <div class="button-group small to-tab-btn-group">
    {{#scroll-to href='#panel1' class='button' afterScroll='openPanel1'}}
      Adventures
    {{/scroll-to}}
    {{#scroll-to href='#panel2' class='button' afterScroll='openPanel2'}}
      Friends
    {{/scroll-to}}
  </div>

  <div class="show-background"
       style="background-image: url('{{user.banner_image_url}}');"></div>

  <div class="expanded row show-content">

    {{user-image-large user=user}}

    <div class="show-info">
      <h4 class="show-user-name">{{user.name}}</h4>
      {{#if user.location}}
        <span class="show-location" title="View Location"><i
            class="ion-ios-location"></i> {{user.location}}</span>
      {{/if}}
      <p class="show-adventures-created">Adventures created
        <span>{{user.adventures_count}}</span></p>

      {{social-share}}

    </div>
  </div>

  <div class="expanded row show-description-container">
    {{#if user.html_description}}
      <div class="large-8 medium-12 columns show-description">
        {{{user.html_description}}}
      </div>
    {{/if}}

    <div class="large-4 medium-12 columns">
      {{#if canAddFriend}}
        <div class="add-friend-btn-wrapper" data-sticky-container>
          {{async-button class="button expanded energized show-cta-btn sticky"
                         action=(action 'addFriend') data-sticky=true
                         title="Add this user as a friend" reset=true
                         data-anchor="user-show-content"
                         default="<i class='ion-ios-plus-empty'></i> Add Friend"}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
<div id="user-show-content" class="content-inner-wrapper-show expanded row">

  <!-- Main Content -->
  <div class="large-8 medium-12 columns">
    {{#zf-tabs class="user-show-tabs" id="user-show-tabs"}}
      <li class="tabs-title is-active"><a href="#panel1" aria-selected="true"><i
          class="icon-adventures"></i> Adventures</a></li>
      <li class="tabs-title"><a href="#panel2"><i class="ion-ios-people"></i>
        Friends <span>{{user.following_count}}</span></a></li>
      <li class="tabs-title"><a href="#panel3"><i class="icon-clubs"></i>
        Clubs</a></li>
    {{/zf-tabs}}
    <div class="tabs-content user-show-tabs-content"
         data-tabs-content="user-show-tabs">

      <div class="tabs-panel is-active" id="panel1">
        {{adventures-list userId=user.id hideHeader=true}}
      </div>

      <div class="tabs-panel" id="panel2">
        {{users-list userId=user.id}}
      </div>

      <div class="tabs-panel" id="panel3">
        {{clubs-list userId=user.id}}
      </div>
    </div>
  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-12 columns">
    <!--TODO show users clubs-->
    {{main-sidebar showPotentialFriends=true}}
  </div>
  <!-- End Sidebar -->
</div>
