.ab_1_registration {
  .key-features {
  @include breakpoint(large up) {
    padding-left: 25%;
  }

    li {
      list-style: none;
      text-align: left;
    }
  }
  i {
    font-size: 30px;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.ab-white-ya-na {
  background-color: $light-gray !important;
  color: $dark;
}
