// User avatars
// ------------------------------------------------------------
.inset-background {
  background: center center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(39, 39, 39, 0.8) !important;
}

.user-avatar {
  position: relative;
  background-color: $darker;
  border: 1px solid $darkest;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  img {
    border-radius: 50% !important;
    overflow: hidden !important;
    height:100%;
  }
}
.multi-user,
.profile,
.thumb,
.thumb-hosted,
.thumb-invite,
.thumb-show,
.thumb-user {
  display: inline-block;
  width: 100%;
  img {
    width: 100%;
  }
}
.thumb {
  width: 40px !important;
  height: 40px !important;
  margin: 5px 0 0 0;
  cursor: pointer;
}
.thumb-hosted {
  width: 20px !important;
  height: 20px !important;
  margin: 0 13px 0 -1px;
}
.thumb-invite {
  width: 55px !important;
  height: 55px !important;
  cursor: pointer;
}
.thumb-user {
  width: 55px !important;
  height: 55px !important;
  cursor: pointer;
}
.thumb-show {
  width: 80px !important;
  height: 80px !important;
  cursor: pointer;
}
.card-image {
  width: 7.8rem !important;
  height: 7.8rem !important;
  cursor: pointer;
}
.profile {
  width: 300px;
  height: 300px;
  box-shadow: 0 0 0 4px rgba($darkest, 0.1);
  margin: 0 auto;
  @include breakpoint(medium down) {
    width: 100px;
    height: 100px;
  }
}
.user-show-image {
  display: inline-block;
  width: 80px !important;
  height: 80px !important;
  margin: 3px;
}
.user-image-name {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  color: $dark-gray;
  font-size: rem-calc(12);
  text-transform: capitalize;
}
// Multi-User Avatars
// ------------------------------------------------------------
.multi-user {
  width: 32px !important;
  height: 32px !important;
  &.two {
    margin: -3px 0 -5px !important;
  }
  &.two:first-child {
    width: 40px !important;
    height: 40px !important;
    top: 0;
    left: -8px;
    margin-left: -10px;
    z-index: 2;
  }
  &.two:last-child {
    top: -5px;
    left: 12px;
    z-index: 1;
  }
  &.three {
    margin: -3px -5px !important;
  }
  &.three:first-child {
    width: 40px !important;
    height: 40px !important;
    left: -8px;
    z-index: 3;
  }
  &.three:nth-child(2) {
    top: -8px;
    left: 23px;
    z-index: 2;
  }
  &.three:last-child {
    width: 25px !important;
    height: 25px !important;
    top: 5px;
    left: -20px;
    z-index: 1;
    border-width: 0;
    .badge-adventure-leader {
      right: auto;
      left: -5px;
    }
  }
  .badge-adventure-leader {
    right: -5px;
  }
}
