// Badges
// ------------------------------------------------------------
.event-badge-wrapper {
  position: relative;
  margin: 10px 0 0;
  display: block;
  @include breakpoint(medium down) {
    margin: 10px 0;
  }
  @include breakpoint(small down) {
    position: absolute;
    top: 10px;
    right: 5px;
    .event-badge {
      margin: 0 !important;
    }
    .sm {
      width: 15px;
      height: 15px;
    }
  }
}
.event-badge {
  margin-right: 5px;
}
.badge-hour {
  background: url("../img/badges/badge_24hour.svg") center center no-repeat;
  background-size: cover;
}
.badge-paid {
  background: url("../img/badges/badge_paid.svg") center center no-repeat;
  background-size: cover;
}
.badge-sponsored {
  background: url("../img/logo/yazda_image_only.svg") center center no-repeat;
  background-size: cover;
}
.badge-adventure-leader {
  background: url("../img/badges/badge_adventure_leader.svg") center center no-repeat;
  background-size: cover;
}
.badge-adventure-leader,
.badge-hour,
.badge-private,
.badge-paid,
.badge-sponsored {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  img {
    width: 100%;
    height: 100%;
  }
  &.xs {
    width: 15px;
    height: 15px;
  }
  &.sm {
    width: 20px;
    height: 20px;
  }
  &.md {
    width: 30px;
    height: 30px;
  }
  &.lg {
    width: 40px;
    height: 40px;
  }
  &.xl {
    width: 80px;
    height: 80px;
    @include breakpoint(medium down) {
      width: 30px;
      height: 30px;
    }
  }
}
.badge-adventure-leader {
  position: absolute;
  top: 0;
  right: 0;
}
.badge-message {
  display: inline-block;
}
