.signin-btn {
  margin-top: 2px;
}
.signin-btn:hover {
  border-color: scale-color($balanced, $lightness: -10%) !important;
  color: scale-color($balanced, $lightness: -10%) !important;
}
// YA NA / Cancelled
// ------------------------------------------------------------
.ya-na-btn-wrapper {
  position: absolute;
  top: calc(50% - 20px);
  right: 15px;
}
.ya-na-btn-group {
  border: 2px solid $darkest;
}
.ya-na-btn {
  background-color: $dark-lighter;
  border: 2px solid darken($dark-lighter, 10%);
}
.ya-na-btn-active,
.ya-na-btn-active:hover,
.ya-na-btn:hover {
  background-color: $balanced !important;
  border: 2px solid darken($balanced, 10%) !important;
}
.ya-na-btn-group-show-container,
.ya-na-cancelled-container {
  position: absolute;
  bottom: 0 !important;
  z-index: 10;
  width: 100%;
  height: 68px !important;
  background: rgba($darkest, 0.5);
  @include breakpoint(medium down) {
    position: relative;
    height: 60px !important;
  }
  @include breakpoint(small down) {
    position: fixed;
    width: 100%;
    bottom: -8px !important;
    left: 0;
    background: transparent;
    z-index: 100;
    height: 61px !important;
    .ya-na-btn {
      width: 50% !important;
    }
  }
}
.ya-na-btn-group-show {
  text-align: center !important;
  margin: 10px auto !important;
  width: 100%;
  .ya-na-btn {
    box-shadow: 0 0 0 2px rgba($darkest, 0.8);
    font-size: rem-calc(17);
    width: 45%;
    margin: 0 !important;
    @include breakpoint (medium down) {
      font-size: rem-calc(14);
    }
  }
}
.ya-na-cancelled-container {
  padding: 0;
  height: 40px !important;
  .button,
  .button:hover {
    height: 40px;
    background: $alert-color;
    cursor: default;
  }
  @include breakpoint(small down) {
    bottom: 0 !important;
  }
}
// Add Friend
// ------------------------------------------------------------
.add-friend-btn-wrapper {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 10;
  .show-cta-btn {
    height: 40px !important;
    box-shadow: 0 0 0 2px rgba($darkest, 0.8);
    margin-bottom: 0 !important;
    @include breakpoint(small down) {
      position: fixed;
      bottom: -1px;
      top: auto;
      left: 0;
      width: 100% !important;
    }
  }
  @include breakpoint(small down) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100% !important;
    z-index: 1040;
  }
}
.show-waiver-btn {
  margin: 20px 0 0 !important;
  box-shadow: 0 0 0 2px rgba($darkest, 0.8);
}
// Register / Sign In / Api Sign In
// ------------------------------------------------------------
.register-submit-btn {
  font-size: rem-calc(16);
  padding: rem-calc(17);
  border: 1px solid $energized !important;
  margin-bottom: -20px !important;
}
.api-login-btn {
  font-size: 14px;
  span {
    vertical-align: middle;
  }
}
// Adventure / Club Create Edit
// ------------------------------------------------------------
.create-cta-btn {
  padding: 20px !important;
  font-size: rem-calc(16);
  margin-bottom: $module-spacing;
}
.cancel-adventure-btn {
  margin-bottom: $module-spacing;
}
// Adventure / User / Club Show
// ------------------------------------------------------------
.show-cta-btn {
  @include breakpoint(small down) {
    margin-bottom: 1px;
  }
}
.to-tab-btn-group {
  display: none;
  @include breakpoint(small down) {
    display: block;
    position: relative;
    z-index: 6;
    .button {
      width: 50%;
      margin: 0 !important;
      background: rgba($darker, 0.7);
      color: $energized;
    }
  }
}
// Social Share
// ------------------------------------------------------------
.social-share {
  margin: 20px 0 0;
  overflow: hidden;
  .button {
    margin-right: 4px !important;
  }
  .button:last-child {
    margin-right: 0 !important;
  }
  .button,
  .button:hover {
    color: $white;
    padding: 5px 10px;
    font-size: rem-calc(11);
  }
}
// Custom Input Waiver Upload
// ------------------------------------------------------------
.upload-waiver-wrapper {
  position: relative;
  .create-upload-waiver-btn,
  .create-upload-waiver-btn:hover {
    padding: 1.25em;
    text-align: left;
    background: $darker;
    text-transform: capitalize;
    color: $stable;
    font-size: rem-calc(16);
    margin-bottom: 0;
    span {
      vertical-align: middle;
      padding-left: 35px;
      i {
        padding-left: 5px;
      }
    }
  }
  .icon {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: rem-calc(26);
    margin: 0 10px 0 0;
  }
}
// Club Role
// ------------------------------------------------------------
.club-role-btn-group {
  margin-bottom: $module-spacing;
  .button {
    width: calc(33.3% - 1px);
  }
  .button:nth-child(1) {
    &.club-role-active {
      background: $calm;
    }
  }
  .button:nth-child(2) {
    &.club-role-active {
      background: $balanced;
    }
  }
  .button:nth-child(3) {
    &.club-role-active {
      background: $energized;
    }
  }
}
// New message for user/club show
// ------------------------------------------------------------
.new-message-btn-2 {
  position: absolute;
  top: 16px;
  left: 70px;
  padding: 1px 5px 3px 7px !important;
  font-size: rem-calc(22) !important;
  @include breakpoint(medium down) {
    position: fixed;
    bottom: 0;
    top: auto;
    left: auto;
    right: 15px;
    background-color: $calm;
    border-radius: 50%;
    padding: 12px 14px 12px 17px !important;
    z-index: 1040;
    font-size: rem-calc(28) !important;
  }
  @include breakpoint(small down) {
    bottom: 40px;
  }
}
// Loading State
// ------------------------------------------------------------
.loading-btn {
  position: relative;
  img {
    width: 0px;
  }
  &:before {
    position: absolute;
    font-family: "yazda";
    content: "\e90d";
    padding: 0;
    text-align: center;
    animation: spinning-gear-btn 2s infinite linear;
    opacity: 0.8;
  }
  &.sm {
    padding-left: 30px;
    &:before {
      font-size: 1.6rem;
      top: calc(50% - 0.8rem);
      left: calc(50% - 65px);
    }
  }
  &.md {
    &:before {
      font-size: 2.2rem;
      top: calc(50% - 1.1rem);
      left: calc(50% - 100px);
    }
  }
}
@keyframes spinning-gear-btn {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
