.club-card {
  overflow: visible;
  position: relative;
  height: 13.0rem;

  .show-user-image {
    position: absolute;
    top: -0.6rem;
    left: 0.6rem;
  }

  .card-title {
    margin-left: 10rem !important;

  }

  .card-divider {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
  }

  .club-card-actions {
    color: $energized;
  }

  .join-button {
    cursor: pointer;
    color: $balanced;

    &:hover {
      color: scale-color($balanced, $lightness: -20%) !important;
    }
  }
}
