// Custom Forms
// ------------------------------------------------------------
.yazda-input-label {
  font-size: rem-calc(24);
  min-width: 45px !important;
  vertical-align: middle;
  padding-right: 5px;
  i {
    margin-right: 0;
  }
  .input-label-addon {
    display: inline-block;
    font-size: rem-calc(16);
    vertical-align: middle;
    margin: 0 0 4px 21px;
  }
}
textarea {
  min-height: 150px;
}
// Register / Sign In / User / Club Edit
// ------------------------------------------------------------
.edit-form,
.logged-out-form {
  input,
  input:focus,
  input:hover,
  textarea {
    background-color: rgba($white, 0.1);
    margin-bottom: 10px;
    border: 1px solid $stable;
    color: $white;
  }
  $input-placeholder-color: $dark !important;
}
.profile-edit-form{
  .input-group {
    margin-bottom: 0px;
  }
}

.edit-form {
  .banner-show {
    min-height: 600px;
  }
  .background-upload-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 600px;
    .button,
    input {
      position: absolute !important;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 72px;
      background: transparent;
      color: transparent;
      i {
        position: absolute;
        top: 45%;
        right: 100px;
      }
      span {
        font-size: rem-calc(14);
        display: none;
      }
    }
    .button:hover {
      background: rgba($darkest, 0.5);
      color: $stable;
    }
  }
  .show-user-image {
    position: relative;
    margin: 0 40px 20px 0;
    @include breakpoint(medium down) {
      margin: 0 0 20px;
    }
    .button,
    input {
      position: absolute !important;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      font-size: 72px;
      padding-top: 120px;
      background: transparent;
      color: transparent;
      span {
        font-size: rem-calc(14);
        display: none;
      }
    }
    .button:hover {
      background: rgba($darkest, 0.5);
      color: $stable;
    }
  }
  .show-info {
    width: 60%;
    @include breakpoint(medium down) {
      width: 100%;
      max-width: 100%;
    }
    .button {
      min-width: 250px;
    }
  }
  textarea {
    margin-bottom: 30px;
  }
}
.homepage-register-form {
  max-width: 1200px;
  margin: 0 auto;
}
.forgot-password-input {
  margin-bottom: 10px;
}
// Items
// ------------------------------------------------------------
.item-list-header {
  .latest-oldest-toggle {
    vertical-align: middle;
  }
  span {
    position: absolute;
    top: 9px;
    right: 8px;
    margin: 0 !important;
  }
  select {
    border: 1px solid $dark-light;
    padding: 5px;
    margin: 0 !important;
    outline: none !important;
    height: auto;
    font-size: rem-calc(12);
    width: 75px;
    color: $medium-gray;
  }
}
// Adventure / Club Create
// ------------------------------------------------------------
.form-create {
  input[disabled] {
    cursor: default;
    background-color: $darker !important;
  }
  .input-group,
  select {
    margin-bottom: $module-spacing;
  }
  .switch {
    margin: 5px 0 0;
  }
  .item-list-header {
    margin-bottom: 1px;
  }
  .friend-list-content {
    max-height: 600px !important;
  }
  select {
    padding-left: 35px;
  }
  .select-help {
    position: relative;
    span {
      position: absolute;
      top: 14px;
      left: 17px;
    }
  }
  .switch {
    margin-right: 5px;
  }
  textarea {
    margin-bottom: $module-spacing;
  }
}
.create-map-container {
  display: block;
  position: relative;
  width: 100%;
  background: $darker;
  height: 226px;
  max-height: 306px;
  overflow: hidden;
  @include breakpoint(small down) {
    margin-bottom: $module-spacing;
    display: none;
  }
}
.g-map-canvas {
  width: 100%;
  height: 226px;
  margin-bottom: $module-spacing;
}
.map-toggle {
  display: block;
}
.toggle-map-btn {
  margin-bottom: $module-spacing;
}
#form-club-create {
  .item-list-header {
    background: $dark;
    margin-bottom: $module-spacing;
    @include breakpoint(small down) {
      margin-bottom: 1px;
    }
    h3 {
      text-transform: uppercase;
      font-size: rem-calc(14);
    }
  }
}
.adventure-create-tabs {
  text-align: center;
  margin-bottom: 1px;
  text-transform: uppercase;
  .tabs-title {
    width: 50%;
  }
  li:first-child {
    border-right: 1px solid $darkest;
  }
  .is-active a {
    color: $energized-light;
  }
}
.adventure-create-tabs-content {
  background: transparent;
  margin-bottom: 0;
}
.adventure-type-select-container {
  background: $dark;
  padding: 30px;
  margin-bottom: $module-spacing;
  h3 {
    color: $white;
    font-weight: 300;
    font-size: rem-calc(32);
    line-height: 1em;
    text-transform: capitalize;
    strong {
      font-weight: normal;
    }
  }
  .menu-adventure-select {
    list-style-type: none;
    margin-left: 0 !important;
    ul {
      margin-left: 0 !important;
    }
    li {
      display: inline-block;
      padding: 0;
      margin: 0 30px;
      @include breakpoint(medium down) {
        margin: 0 5px;
      }
    }
    a {
      color: $stable;
      font-size: rem-calc(120);
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      span {
        display: block;
        font-size: rem-calc(14);
        margin-top: -50px;
        font-weight: bold;
      }
      &.select-active {
        color: $balanced;
      }
    }
  }
}
.help-icon {
  color: $balanced;
  cursor: pointer;
  padding-right: 5px;
}
