// Global
// ------------------------------------------------------------
.fold {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 50px 30px;
  p {
    color: $stable;
  }
}
.fold-background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  z-index: 1;
}
.fold-content {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  z-index: 2;
}
.homepage-logo {
  width: 450px;
  max-width: 100%;
  padding: 30px 0;
}
.homepage-icon {
  height: 32px;
  @include breakpoint(medium down) {
    height: 24px;
  }
}
// Fold Register / Sign In
// ------------------------------------------------------------
.fold-register {
  background-color: $darker;
  padding: 120px 40px;
  @include breakpoint(medium down) {
    padding: 40px 40px 80px;
  }
  .disclaimer {
    font-size: rem-calc(13);
    margin-bottom: 20px;
    @include breakpoint(medium down) {
      margin: 20px 0 30px;
    }
  }
  a {
    color: $energized-light;
  }
  a:hover {
    color: $energized;
  }
}
.fold-register-2 {
  @extend .fold-register;
  background-color: $darkest;
  padding: 80px 40px;
}
.darker-background {
  &:after{
    content:'\A';
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
  }
}
.background-register {
  background-image: url("../img/backgrounds/image8.jpg");
  background-position: center bottom;

  @extend .darker-background;
}
.facebook-logo,
.strava-logo {
  height: 20px;
  margin-right: 5px;
}
// Fold Apps
// ------------------------------------------------------------
.fold-apps {
  background: $energized;
  background: -moz-linear-gradient(-45deg, $energized 0%, $energized-light 100%);
  background: -webkit-linear-gradient(-45deg, $energized 0%, $energized-light 100%);
  background: linear-gradient(135deg, $energized 0%, $energized-light 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '$energized', endColorstr='$energized-light',GradientType=1 );
  overflow: visible;
  padding-bottom: 0;
  @include breakpoint(small down) {
    padding-bottom: 40px;
  }
}
.apps-heading {
  color: $stable;
  margin-bottom: 20px;
  @include breakpoint(large up) {
    padding-top: 60px;
  }
  span {
    font-size: 1.2em;
    font-weight: bold;
  }
}
.appstore-logo {
  width: 200px;
  margin: 10px;
}
.app-screen {
  height: 500px;
  margin-top: -100px;
  @include breakpoint(small down) {
    height: 400px;
    margin-bottom: 30px;
    margin-top: -105px;
    box-shadow: 0 14px 6px -8px rgba($darker, 0.8);
  }
}
// Fold Features
// ------------------------------------------------------------
.fold-features {
  background-color: $darker;
  text-align: left;
  .columns {
    padding: 0 15px;
    @include breakpoint(medium down) {
      padding: 0;
    }
  }
}
.features-heading {
  color: $energized;
  text-transform: capitalize;
  i {
    font-size: rem-calc(36);
    vertical-align: middle;
    @include breakpoint(medium down) {
      font-size: rem-calc(24);
    }
  }
  span {
    font-weight: 500;
    margin-left: 5px;
    vertical-align: middle;
  }
}
.features-heading-2 {
  color: $stable;
  margin-bottom: 30px;
  text-transform: none;
  span {
    font-size: 1.2em;
    font-weight: bold;
  }
}
.fold-video {
  padding: 0 !important;
  .flex-video {
    margin-bottom: -1px;
  }
}
.fold-features-2 {
  background: $darker;
  text-align: left;
  padding: 50px 30px 30px;
}
.features-icon {
  width: 250px;
  margin-bottom: 20px;
}
// Fold Image
// ------------------------------------------------------------
.fold-image {
  height: 600px;
  @include breakpoint(small down) {
    height: 200px;
  }
}
.background-image1 {
  background-image: url("../img/backgrounds/image1.jpg");
}
.background-image2 {
  background-image: url("../img/backgrounds/image6.jpg");
}
.background-image-video {
  background-image: url("../img/backgrounds/image7.jpg");
}
.background-image3 {
  background-image: url("../img/backgrounds/image9.jpg");
  @extend .darker-background;
}
.background-image4 {
  background-image: url("../img/backgrounds/image10.jpg");
  background-position: center center;
  @extend .darker-background;
}
// Fold Clubs
// ------------------------------------------------------------
.fold-clubs {
  text-align: left;
  background-color: $darker;
  .badge-adventure-leader {
    display: inline-block;
    float: left;
  }
}
.clubs-heading {
  color: $energized;
  text-transform: capitalize;
  span {
    margin-left: 5px;
    vertical-align: middle;
  }
}
// Fold Partners
// ------------------------------------------------------------
.fold-partners {
  text-align: center;
  background: $energized;
  background: -moz-linear-gradient(-45deg, $energized 0%, $energized-light 100%);
  background: -webkit-linear-gradient(-45deg, $energized 0%,$energized-light 100%);
  background: linear-gradient(135deg, $energized 0%,$energized-light 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '$energized', endColorstr='$energized-light',GradientType=1 );
}
.partners-heading {
  color: $stable;
  background: rgba($white, 0);
  margin-top: -10px;
  margin-bottom: 20px;
}
.partners-logo {
  background: rgba($energized-light, 0.1);
  padding: 40px 0;
  border: 1px solid rgba($energized, 0.3);
  margin-bottom: rem-calc(15);
  height: 273px;
  @include breakpoint(small down) {
    margin-bottom: -1px;
  }
  img {
    vertical-align: middle;
    width: 200px;
    max-width: 80%;
  }
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
// 404 Error
// ------------------------------------------------------------
.fold-fourohfour {
  padding: 80px 40px 140px;
  @include breakpoint(medium down) {
    padding: 40px 40px 80px;
  }
  h1,
  h3,
  h5,
  p {
    color: $stable;
    line-height: 1em;
    margin-bottom: 20px;
  }
  h1 {
    font-size: rem-calc(120);
  }
  h3 {
    font-size: rem-calc(32);
  }
  p {
    font-size: rem-calc(24);
  }
}
.background-fourohfour {
  background-image: url("../img/backgrounds/wipeout.jpg");
  opacity: 0.4;
  filter: blur(1px);
  background-position: left center;
}
.fourohfourmenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: $energized-light;
  }
}
