// Global
// ------------------------------------------------------------
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
a,
a:focus,
a:hover,
a:visited {
  transition: all 0.25s linear;
  outline: none;
}
.button {
  text-transform: uppercase;
}
.sr-only {
  display: none;
}
.content-inner-wrapper,
.content-inner-wrapper-show {
  margin: 0;
  padding-top: $module-spacing;
  padding-right: $module-spacing / 2;
  padding-left: $module-spacing / 2;
  @include breakpoint(small down) {
    padding: $module-spacing 0 0;
  }
}
.content-inner-wrapper-show {
  @include breakpoint(medium down) {
    padding: 0;
  }
}
.menu {
  background-color: transparent !important;
}
.center-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.right-text {
  text-align: right;
}
.single-line-text,
a.single-line-text {
  width: 80% !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.js-off-canvas-exit {
  z-index: 100;
}
select {
  border-radius: 0;
}
input,
select,
textarea {
  -webkit-appearance: none !important;
}
.callout {
  margin-bottom: $module-spacing;
}
.subdued {
  font-size: 10px;
}
// Errors/Alerts
// ------------------------------------------------------------
.form-error {
  margin: -10px 0 10px;
  padding: 5px 0;
  background: $alert-color;
  color: $stable;
}
.yazda-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px 40px;
  font-size: rem-calc(14);
  z-index: 2000 !important;
  a {
    font-weight: bold;
    color: $stable;
    text-decoration: underline;
  }
  p {
    margin: 0;
  }
}
.is-invalid-input {
  border: 1px solid $alert-color;
}
// Header
// ------------------------------------------------------------
// Main Nav
// ------------------------------------------------------------
.off-canvas {
  background-color: rgba($darker, 1);
  height: 100%;
  padding: 20px;
  border-right: 1px solid rgba($darkest, 1);
  .menu li {
    border-bottom: 1px solid rgba($darkest, 0.5);
    padding: 10px 0;
    i {
      font-size: 24px;
      margin-right: 5px;
    }
  }
  .menu li:last-child {
    border-bottom: 0;
  }
  .close-button {
    display: none;
  }
}
.main-nav {
  width: 100%;
  height: 60px;
  background-color: rgba($darkest, 1);
  z-index: 1040;
  transition: all 0.25s linear;
  @include breakpoint(medium down) {
    height: 44px;
  }
  .header-logo {
    position: absolute;
    top: 11px;
    width: 130px;
    left: calc(50% - 70px);
    @include breakpoint(medium down) {
      top: 9px;
      width: 80px;
      left: calc(50% - 35px);
    }
  }
}
.main-nav-fixed {
  background-color: rgba($darkest, 0.9);
  position: fixed;
  top: 0;
}
.main-nav-top {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rgba($darker, 0);
  z-index: 1040;
  border-bottom: 1px solid rgba($darkest, 0);
  transition: all 0.25s linear;
  @include breakpoint(medium down) {
    height: 44px;
  }
  .header-logo {
    display: none;
    @include breakpoint(medium down) {
      top: 7px;
      width: 100px;
      left: calc(50% - 50px);
    }
  }
}
.off-canvas-logo {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.5;
  img {
    width: 90px;
  }
}
.menu-toggle-left {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 42px;
  height: 60px;
  cursor: pointer;
  color: $stable;
  span {
    font-size: 16px;
    vertical-align: middle;
    padding: 0 0 10px 5px;
  }
  @include breakpoint(medium down) {
    font-size: 32px;
    left: 15px;
    top: -1px;
  }
}
.menu-toggle-left-loggedOut {
  display: none;
  @include breakpoint(medium down) {
    display: block;
  }
}
.menu-toggle-right {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 42px;
  height: 60px;
  cursor: pointer;
  span {
    font-size: 16px;
    vertical-align: middle;
    padding: 0 0 10px 5px;
  }
}
.menu-header-links {
  position: absolute;
  background-color: transparent !important;
  font-size: rem-calc(15);
  margin: 3px 10px 0 0;
  &.align-left {
    left: 45px;
  }
  &.align-right {
    right: 0;
  }
  img {
    height: 30px;
    margin-top: -7px;
  }
  li a {
    margin: 0 !important;
    padding: 12px 10px !important;
  }
  i {
    font-size: rem-calc(36);
    margin-top: -12px;
  }
  @include breakpoint(medium down) {
    display: block;
    li a {
      padding: 4px 0 0 5px !important;
    }
    i {
      font-size: rem-calc(24);
      margin-top: -6px;
    }
  }
}
.menu-header-links-out {
  a {
    color: $energized-light;
  }
  a:hover {
    color: $energized;
  }
  @include breakpoint(medium down) {
    display: none;
  }
}
.nav-header-left {
  display: none;
  @include breakpoint(small down) {
    display: block;
    top: 9px;
    li {
      position: relative;
      .badge {
        position: absolute;
        top: -3px;
        right: -5px;
        padding: 4px 0;
        font-size: 8px;
      }
    }
  }
}
.nav-header-right {
  top: 9px;
}
.nav-header-left,
.nav-header-right {
  @include breakpoint(medium down) {
    top: 8px;
  }
}
.menu-signup {
  position: absolute !important;
  top: 10px;
  right: 10px;
  @include breakpoint(medium down) {
    display: none;
  }
}
// Apps
// ------------------------------------------------------------
.apps-wrapper {
  position: relative;
  background: $dark;
  z-index: 1040 !important;
  border-bottom: 1px solid $darkest;
  padding: 10px 5px;
  .app-icon {
    display: inline-block;
    float: left;
    width: 35px;
    margin: 0 10px 0 0;
  }
  .app-info {
    position: relative;
    h6 {
      display: inline-block;
      float: left;
      font-size: rem-calc(12);
      color: $white;
      vertical-align: middle;
      margin: 1px 40px 0 0;
      span {
        display: block;
        font-size: rem-calc(11);
        color: $medium-gray;
        text-transform: none;
      }
    }
    .app-download-btn {
      position: absolute;
      right: 25px;
      top: 4px;
      margin: 0;
    }
  }
  .close-button {
    top: 12px;
    right: 10px;
  }
}
// Adventure / User / Club Show
// ------------------------------------------------------------
.banner-show {
  position: relative;
  text-align: center;
  overflow: hidden;
  background: $dark;
  min-height: 475px;
  @include breakpoint(medium down) {
    min-height: auto;
    margin-bottom: $module-spacing;
  }
  @include breakpoint(small down) {
    min-height: 100px;
  }
}
.show-background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 105%;
  height: 105%;
  background-color: $dark;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: 1;
  filter: blur(1px);
}
.show-content {
  position: relative;
  z-index: 15;
  text-align: left;
  padding: 80px 20px 0 80px;
  @include breakpoint(medium down) {
    padding: 50px 20px 60px;
    text-align: center;
  }
  .show-user-image {
    display: inline-block;
    margin: 0 40px -20px 0;
    @include breakpoint(medium down) {
      display: block;
      margin: 0 0 30px;
      text-align: center;
    }
  }
  .show-info {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
    @include breakpoint(medium down) {
      display: block;
      margin: 0;
      max-width: 100%;
    }
  }
}
.show-adventure-type,
.show-adventures-created,
.show-hosted,
.show-location,
.show-time,
.show-user-name,
.show-website,
a.show-location,
a.show-time,
a.show-website {
  display: block;
  margin-bottom: 15px;
  text-transform: capitalize;
  font-size: rem-calc(18);
  line-height: 1em;
  @include breakpoint(small down) {
    font-size: rem-calc(14);
  }
}
.show-website {
  text-transform: initial !important;
}
.show-hosted a {
  color: $stable;
  text-decoration: underline;
}
.show-user-name {
  color: $stable;
  font-size: rem-calc(26);
  line-height: 1em;
  @include breakpoint(small down) {
    font-size: rem-calc(22);
  }
}
.show-adventures-created {
  span {
    font-weight: bold;
    color: $balanced;
  }
}
.show-description-container {
  position: relative;
  padding: 45px 80px;
  background-color: rgba($darker, 0.5);
  z-index: 10;
  min-height: 115px;
  @include breakpoint(medium down) {
    min-height: 0;
    padding: 20px;
  }
  @include breakpoint(small down) {
    z-index: 20;
  }
}
.show-description {
  text-align: left;
  padding: 0 30px 0 0 !important;
  p {
    margin: 0;
    white-space: pre-line;
  }
  @include breakpoint(medium down) {
    padding: 0 0 20px !important;
  }
  @include breakpoint(small down) {
    padding: 0 !important;
  }
}
.user-show-tabs,
.club-show-tabs {
  text-align: center;
  margin-bottom: 1px;
  text-transform: uppercase;
  .tabs-title {
    width: 33%;
  }
  li:first-child {
    border-right: 1px solid $darkest;
  }
  .is-active a {
    color: $energized-light;
  }
  span {
    font-weight: bold;
    color: $alert-color;
    margin-left: 5px;
  }
}

.club-show-tabs {
  .tabs-title {
    width: 50%;
  }
}
.user-show-tabs-content,
.club-show-tabs-content{
  background: transparent;
  margin-bottom: 0 !important;
  .friend-list-content {
    max-height: 800px !important;
  }
}
.adventure-skill-level {
  overflow: hidden;
  margin-bottom: $module-spacing;
  background: $darker;
  padding: 15px 30px 5px;
  h5 {
    display: inline-block;
    color: $stable;
    height: 30px;
    margin: 0 !important;
    padding-left: 10px;
    line-height: 0.5em;
    vertical-align: middle;
    text-transform: uppercase;
  }
  &.easiest {
    background-color: rgba($energized-light, 0.2);
  }
  &.hard {
    background-color: rgba($darkest, 0.2);
  }
  &.hardest {
    background-color: rgba($assertive, 0.2);
  }
  &.easy,
  &.medium {
    background-color: rgba($calm, 0.2);
  }
  &.intermediate {
    background-color: rgba($warning-color, 0.2);
  }
}
.adventure-info {
  overflow: hidden;
  margin-bottom: $module-spacing;
  background: $dark;
  .item,
  .item-icon {
    padding: 15px 20px 18px;
  }
  .item {
    position: relative;
    background: transparent;
    padding-left: 70px;
    text-transform: capitalize;
    margin-bottom: 0 !important;
    box-shadow: 70px -3px 0 -2px $darkest;
    h5,
    h5 a {
      color: $stable !important;
      margin-bottom: 0;
    }
  }
  span {
    margin: 0;
  }
  .item-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    text-align: center;
    color: $alert-color;
    font-weight: bold;
  }
  .item-icon-image {
    margin-top: -2px;
  }
  .description {
    padding: 30px;
    p {
      white-space: pre-line;
    }
  }
  .adventure-users {
    padding: 35px 30px 50px;
    margin-bottom: 0 !important;
    border-top: 4px solid $darkest;
    background: rgba($darker, 0.4);
    text-align: left;
    h4,
    h5 {
      color: $medium-gray;
      span {
        color: $alert-color;
        font-weight: bold;
      }
    }
    @include breakpoint(large) {
      margin-bottom: rem-calc(15) !important;
    }
  }
  .adventurers-stats {
    margin: 10px 0 5px;
    h5 {
      margin: 0 0 10px;
    }
    h6 {
      margin: 15px 0 0;
    }
    .thumb-show {
      border: 2px solid rgba($balanced, 0.9);
    }
  }
  .adventurers-stats-small {
    .thumb-show {
      border: 1px solid $darkest;
    }
  }
  .adventurers-stats-small {
    @include breakpoint(medium down) {
      .user-show-image {
        width: 40px !important;
        height: 40px !important;
        margin: 0 -10px -5px 0;
      }
      .thumb-show {
        width: 100% !important;
        height: 100% !important;
      }
      .user-image-name {
        display: none;
      }
      .badge-adventure-leader {
        width: 15px !important;
        height: 15px !important;
      }
    }
  }
}
// Footer
// ------------------------------------------------------------
.main-footer {
  width: 100%;
  background-color: rgba($darker, 0.25);
  margin: 0 auto;
  padding: 30px 30px 20px;
  text-align: center;
  font-size: 14px;
  @include breakpoint(small down) {
    padding-bottom: 50px;
  }
  .footer-heading {
    color: $dark-gray !important;
    margin-bottom: 10px;
  }
  .social-media-links {
    font-size: rem-calc(28);
    ul {
      list-style-type: none;
      margin-left: 0;
    }
    li {
      width: 50px;
      height: 50px;
      display: inline-block;
      text-align: center;
      padding-top: 2px;
      border: 1px solid $medium-gray;
      border-radius: 50%;
      margin: 0 2px;
    }
    a {
      color: $medium-gray;
      padding: 17px 10px 10px;
    }
  }
  .copyright {
    display: inline-block;
    color: $dark-gray;
    font-size: 13px;
  }
  .footer-menu {
    text-transform: capitalize;
  }
}
li.facebook {
  &:hover {
    border: 1px solid $facebook-color;
  }
  a:hover {
    color: $facebook-color;
  }
}
li.twitter {
  &:hover {
    border: 1px solid $twitter-color;
  }
  a:hover {
    color: $twitter-color;
  }
}
li.youtube {
  &:hover {
    border: 1px solid $youtube-color;
  }
  a:hover {
    color: $youtube-color;
  }
}
li.instagram {
  &:hover {
    border: 1px solid $instagram-color;
  }
  a:hover {
    color: $instagram-color;
  }
}
li.email {
  &:hover {
    border: 1px solid $sunny;
  }
  a:hover {
    color: $sunny;
  }
}
// Reveal
// ------------------------------------------------------------
.reveal {
  box-shadow: 0 2px 10px rgba($darker, 1);
  outline: none;
}
.newsletter-popup {
  background-color: rgba($white, 0.9);
  padding: 60px;
  @include breakpoint(small down) {
    padding: 60px 0;
  }
  h2 {
    line-height: 1em;
    font-family: 'Lato';
    font-style: italic;
    color: $energized;
  }
  h5 {
    font-family: 'Lato';
  }
  a {
    color: $dark-gray;
  }
  .close-button {
    color: $dark;
  }
  input {
    background: rgba($dark, 0.5);
    border: 0;
  }
}
// Tabs
// ------------------------------------------------------------
.tabs,
.tabs-content {
  border: 0 !important;
}
.tabs-title {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.tabs-content {
  margin-bottom: $module-spacing;
}
.yazda-tabs {
  .tabs-content {
    padding: 0 !important;
  }
}
// Accordion
// ------------------------------------------------------------
.accordion-title {
  margin-bottom: 2px !important;
  font-size: rem-calc(24);
  text-transform: capitalize;
  font-weight: 300;
  span {
    width: 100px !important;
    font-weight: normal;
    color: $balanced;
    margin-right: 10px;
  }
}
li.accordion-item {
  border-bottom: 4px solid $darkest;
}
// Ads / Sponsored Content placeholder
// ------------------------------------------------------------
.advert-widget,
.sponsored-content-widget {
  padding: 30px;
  text-align: center;
  background: rgba($dark, 0.65);
}
// Pagination
// ------------------------------------------------------------
.pagination {
  background: $darker;
  padding: 10px 0;
  margin-top: 4px;
  margin-bottom: $module-spacing;
  li {
    border: 1px solid transparent;
    transition: all 0.15s linear;
    &.current,
    &:hover {
      color: $balanced !important;
      border: 1px solid $balanced;
      transition: all 0.15s linear;
    }
    &:hover {
      border: 1px solid $dark-gray;
    }
    &.disabled:hover {
      border: 1px solid transparent;
    }
    &.pagination-next,
    &.pagination-next:hover,
    &.pagination-previous,
    &.pagination-previous:hover {
      border: 1px solid transparent;
    }
  }
}
// No Adventures Created
// ------------------------------------------------------------
.no-adventures-created {
  background: $energized;
  background: -moz-linear-gradient(-45deg, $energized 0%, $energized-light 100%);
  background: -webkit-linear-gradient(-45deg, $energized 0%,$energized-light 100%);
  background: linear-gradient(135deg, $energized 0%,$energized-light 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '$energized', endColorstr='$energized-light',GradientType=1 );
  padding: 100px 20px;
  text-align: center;
  margin-top: 1px;
  h3 {
    color: $white;
    line-height: 1em;
    font-weight: 300;
    @include breakpoint(medium down) {
      font-size: rem-calc(20);
    }
    strong {
      font-weight: normal;
    }
  }
  img {
    width: 150px;
    margin-bottom: 20px;
  }
}
.create-club {
  background-image: url("../img/club-create.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba($darkest, 0.7);
  padding: 100px 30px;
}
