<div class="content-inner-wrapper expanded row">

  <!-- Main Content -->
  <div class="large-8 medium-6 columns">
    <div class="expanded row">
      <div class="small-12 columns">
        <div class="input-group">
          <span class="input-group-label">
            <i class="ion-search"></i>
          </span>
          {{input class="input-group-field" type="search" value=search
                  placeholder="Search by #hashtag or query"}}
        </div>
      </div>
    </div>
    {{#each model as |club|}}
      {{club-card club=club}}
    {{/each}}

    {{infinity-loader infinityModel=model destroyOnInfinity=true
                      loadedText="No more clubs"}}
  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-6 columns">
    {{main-sidebar}}
  </div>
  <!-- End Sidebar -->
</div>
