<div class="content-inner-wrapper expanded row">

  <!-- Main Content -->
  <div class="large-8 medium-12 columns">

    <!-- Begin Club Create Form -->
    {{club-create club=model onSave=(action 'save')}}
    <!-- End Club Create Form -->

  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-12 columns">
    {{main-sidebar}}
  </div>
  <!-- End Sidebar -->
</div>