{{#if model.skill_level}}
  <div class="adventure-skill-level {{skillLevel}}">
    <div
        class="skill-level icon-{{adventureTypeDashed}}-skill-level-{{model.skill_level}} md"></div>
    <h5>Skill level: <span>{{skillLevel}}</span></h5>
  </div>
{{/if}}

<div class="adventure-info">
  {{#if model.html_description}}
    <div class="description" itemprop="description">
      {{{model.html_description}}}
    </div>
  {{/if}}

  <div class="expanded row adventure-users"
       style="margin-bottom: 0 !important;">

    <div class="large-12 medium-6 columns adventurers-stats">
      <h4><span>{{model.attendings_count}}</span> adventurers said YA
        <a href="https://api.yazdaapp.com/v1/invites/attending.csv?adventure_id={{model.id}}"><i class="ion-android-download"></i></a>
      </h4>
      {{#each model.attendings as |invite| }}
        {{user-show-image user=invite.user}}
      {{/each}}
      <h6>
      {{#link-to 'adventures.show.attendings' model}}View All Attendees{{/link-to}}
      </h6>
    </div>

    <div class="large-12 medium-6 columns">
      <div class="adventurers-stats adventurers-stats-small">
        <h4><span>{{model.pendings_count}}</span> adventurers invited
        </h4>
        {{#each model.pendings as |invite| }}
          {{user-show-image user=invite.user}}
        {{/each}}
        <h6>
          {{#link-to 'adventures.show.pendings' model}}View All Pending{{/link-to}}
        </h6>
      </div>

      <div class="adventurers-stats adventurers-stats-small">
        <h4><span>{{model.rejections_count}}</span> adventurers said NA
        </h4>
        {{#each model.rejections as |invite| }}
          {{user-show-image user=invite.user}}
        {{/each}}
        <h6>
          {{#link-to 'adventures.show.rejecteds' model}}View All Rejected{{/link-to}}
        </h6>
      </div>
    </div>
  </div>
</div>
