<div class="item-list">
  <h3>Rejected</h3>
  <div class="invite-list-content">
    {{#each model as |invite|}}
      {{user-list-item user=invite.user}}
    {{/each}}
    {{infinity-loader infinityModel=model destroyOnInfinity=true
                      loadedText="No more rejected invites"}}
  </div>
</div>
<!--TODO display users role/tags for club-->
