<div itemscope itemtype="http://schema.org/Event">
  <div class="expanded row banner-show">
    <div class="show-background show-adventure-background"
         style="background-image: url('{{model.club.banner_image_url}}');"></div>
    <div class="expanded row show-content">
      {{user-image-large user=model.owner}}
      <div class="show-info">
        <div class="show-adventure-type"><i
            class="icon-{{adventureTypeIcon}}"></i>
          {{adventureType}}
        </div>
        <h4 class="show-user-name" itemprop="name">{{model.name}}</h4>
        <div class="show-hosted">
          Hosted
          by {{#link-to 'users.show'
                        model.owner.id}}{{model.owner.name}}{{/link-to}}
          {{#if model.club}}
          via {{#link-to 'clubs.show' model.club.id
                         itemprop="url"}}{{model.club.name}}{{/link-to}}
          {{/if}}
        </div>
        <!--TODO action add to calendar-->
        <a href="#" class="show-time"><i class="ion-ios-clock"></i>
          <span itemprop="startDate" content="{{model.start_time}}">
            {{moment-format model.start_time 'MMM D ddd \at h:mm A'}}</span>
          to
          <span itemprop="endDate" content="{{model.end_time}}">
            {{moment-format model.end_time 'MMM D ddd \at h:mm A'}}</span></a>
        <a href="https://maps.google.com/?daddr={{model.lat}},{{model.lon}}"
           class="show-location" title="View Location"><i
            class="ion-ios-location"></i> <span
            itemprop="location">{{model.address}}</span></a>
        <span style="display: none" class="lat">{{model.lat}}</span>
        <span style="display: none" class="lon">{{model.lon}}</span>
        {{#if model.can_edit}}
          <div class="add-friend-btn-wrapper" style="height:40px">
            {{#link-to 'adventures.edit' model.id class="button expanded primary
          show-cta-btn"}}Edit Adventure{{/link-to}}
          </div>
        {{/if}}
        {{social-share}}

      </div>
    </div>
    {{#if model.canceled}}
      <div class="ya-na-cancelled-container" data-sticky-container>
        <div class="button expanded alert" data-sticky
             data-anchor="adventure-show-content">This adventure has been
                                                  cancelled.
        </div>
      </div>
    {{/if}}
    {{#if canAttend}}
      <h4 class="hide-for-small-only">Can you make it?</h4>

      <div class="ya-na-btn-group-show-container" data-sticky-container>
        <div class="button-group ya-na-btn-group-show sticky" data-sticky
             data-anchor="adventure-show-content">
          <a {{action 'ya'}}
              class="button ya-na-btn {{if isYa 'ya-na-btn-active' ''}}">YA</a>
          <a {{action 'na'}}
              class="button ya-na-btn {{if isNa 'ya-na-btn-active' ''}}">NA</a>
        </div>
      </div>
    {{/if}}
  </div>

  <div id="adventure-show-content"
       class="content-inner-wrapper-show expanded row">

    <!-- Main Content -->
    <div class="large-8 medium-12 columns">
      {{outlet}}
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <div class="large-4 medium-12 columns">

      <!-- Adventure Show Items -->
      <div class="adventure-info">
        <!--TODO only connect to 1 adventure here instead of twice-->
        {{#if media.isLarge}}
          {{#if session.isAuthenticated}}
            {{chat-thread-messages adventure=model}}
          {{/if}}
        {{/if}}

        {{#if trail}}
            <div class="item">
              <h5><span class="item-icon"><img
                  src="{{trailStatusIcon}}" /></span>{{trailStatus}}
              </h5>
              <a href="{{trailUrl}}" target="_blank"
                 title="{{trail.name}} - Trail Status">{{trail.name}}</a>
              <span
                class="subdued">Last Updated: {{moment-from-now trail.lastUpdated interval=1000}}</span>
            </div>
        {{/if}}
        {{#if model.reservation_limit}}
          <div class="item">
            <h5><span class="item-icon">{{spotsLeft}}</span>Spots left!</h5>
          </div>
        {{/if}}
        {{#if model.club.waiver_url}}
          <div class="item">
            <h5>
              <a href="{{model.club.waiver_url}}"
                 rel="nofollow"
                 title="Download Liability Waiver"><span class="item-icon"
                                                         style="color: white;">
            <i class="ion-android-download"></i></span>Liability waiver</a></h5>
          </div>
        {{/if}}
        {{#if model.sponsored}}
          <div class="item">
            <h5><a href="club-show.html"><span
                class="item-icon item-icon-image"><img
                src="img/badges/badge_sponsored.svg"/></span>Sponsored by
                                                             Yazda</a>
            </h5>
          </div>
        {{/if}}
        {{#if is24Hours}}
          <div class="item">
            <h5><span class="item-icon item-icon-image"><img
                src="img/badges/badge_24hour.svg"/></span>24+ hour adventure</h5>
          </div>
        {{/if}}
        {{#if isPrivate}}
          <div class="item">
            <h5><span class="item-icon item-icon-image">
            <i class="ion-locked"></i>
          </span>{{privacyText}}</h5>
          </div>
        {{/if}}
      </div>

      <!--TODO trail status widget for attached trails-->
      {{main-sidebar showPotentialFriends=true}}
    </div>
    <!-- End Sidebar -->
  </div>
  {{#unless media.isLarge}}
    {{#if session.isAuthenticated}}
      {{chat-thread-messages isModal=true adventure=model}}
    {{/if}}
  {{/unless}}
</div>
