<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--Icons-->
  <link rel="apple-touch-icon" sizes="57x57" href="img/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="img/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/icons/favicon-16x16.png">
  <link rel="shortcut icon" href="/favicon.ico" type="img/icons/image/x-icon">
  <link rel="icon" href="/favicon.ico" type="img/icons/image/x-icon">

  <!--Facebook -->
  <meta property="fb:app_id" content="980360288651353">
  <meta property="al:android:url"
        content="https://play.google.com/store/apps/details?id=com.yazda.yazda_ios">
  <meta property="al:android:package" content="com.yazda.yazda_ios">
  <meta property="al:android:app_name" content="Yazda">
  <meta property="al:iphone:url"
        content="https://itunes.apple.com/us/app/yazda/id983846853?ls=1&mt=8">
  <meta property="al:iphone:app_store_id" content="983846853">
  <meta property="al:iphone:app_name" content="Yazda">
  <meta property="fb:pages" content="1532609843695322">

  <!--Twitter -->
  <meta name="twitter:site" content="@yazda_app"/>

  <!-- Google Webmaster -->
  <meta name="google-site-verification" content="Y_KVnQ_kTZWmYiuaHkXy0Jfbd2q5ezsnivp4XiEU6ZU" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{content-for "head"}}

  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css" integrity="">
  <link rel="stylesheet" href="fonts/yazda/yazda-icons.css" integrity="">
  <link rel="stylesheet" href="assets/vendor.css" integrity="">
  <link rel="stylesheet" href="assets/yazda-js.css" integrity="">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/postscribe/2.0.8/postscribe.min.js"></script>

  <script type="text/javascript">
    // load the Branch SDK file
    (function(b,r,a,n,c,h,_,s,d,k){if(!b[n]||!b[n]._q){for(;s<_.length;)c(h,_[s++]);d=r.createElement(a);d.async=1;d.src="https://cdn.branch.io/branch-latest.min.js";k=r.getElementsByTagName(a)[0];k.parentNode.insertBefore(d,k);b[n]=h}})(window,document,"script","branch",function(b,r){b[r]=function(){b._q.push([r,arguments])}},{_q:[],_v:1},"addListener applyCode banner closeBanner creditHistory credits data deepview deepviewCta first getCode init link logout redeem referrals removeListener sendSMS setIdentity track validateCode".split(" "), 0);
  </script>

  <!--<link rel="stylesheet" href="https://js.appboycdn.com/web-sdk/1.4/appboy.min.css" />-->
  <!--<script type="text/javascript">-->
    <!--+function(a,p,P,b,y) {-->
      <!--appboy={};for(var s="destroy toggleAppboyLogging setLogger openSession changeUser requestImmediateDataFlush requestFeedRefresh subscribeToFeedUpdates logCardImpressions logCardClick logFeedDisplayed requestInAppMessageRefresh logInAppMessageImpression logInAppMessageClick logInAppMessageButtonClick subscribeToNewInAppMessages removeSubscription removeAllSubscriptions logCustomEvent logPurchase isPushSupported isPushBlocked registerAppboyPushMessages unregisterAppboyPushMessages submitFeedback ab ab.User ab.User.Genders ab.User.NotificationSubscriptionTypes ab.User.prototype.getUserId ab.User.prototype.setFirstName ab.User.prototype.setLastName ab.User.prototype.setEmail ab.User.prototype.setGender ab.User.prototype.setDateOfBirth ab.User.prototype.setCountry ab.User.prototype.setHomeCity ab.User.prototype.setEmailNotificationSubscriptionType ab.User.prototype.setPushNotificationSubscriptionType ab.User.prototype.setPhoneNumber ab.User.prototype.setAvatarImageUrl ab.User.prototype.setLastKnownLocation ab.User.prototype.setUserAttribute ab.User.prototype.setCustomUserAttribute ab.User.prototype.addToCustomAttributeArray ab.User.prototype.removeFromCustomAttributeArray ab.User.prototype.incrementCustomUserAttribute ab.InAppMessage ab.InAppMessage.SlideFrom ab.InAppMessage.ClickAction ab.InAppMessage.DismissType ab.InAppMessage.OpenTarget ab.InAppMessage.prototype.subscribeToClickedEvent ab.InAppMessage.prototype.subscribeToDismissedEvent ab.InAppMessage.prototype.removeSubscription ab.InAppMessage.prototype.removeAllSubscriptions ab.InAppMessage.Button ab.InAppMessage.Button.prototype.subscribeToClickedEvent ab.InAppMessage.Button.prototype.removeSubscription ab.InAppMessage.Button.prototype.removeAllSubscriptions ab.SlideUpMessage ab.ModalMessage ab.FullScreenMessage ab.ControlMessage ab.Feed ab.Feed.prototype.getUnreadCardCount ab.Card ab.ClassicCard ab.CaptionedImage ab.Banner display display.automaticallyShowNewInAppMessages display.showInAppMessage display.showFeed display.destroyFeed display.toggleFeed sharedLib".split(" "),i=0;i<s.length;i++){for(var k=appboy,l=s[i].split("."),j=0;j<l.length-1;j++)k=k[l[j]];k[l[j]]=function(){}}appboy.initialize=function(){console&&console.log("Appboy cannot be loaded - this is usually due to strict corporate firewalls or ad blockers.")};appboy.getUser=function(){return new appboy.ab.User};appboy.getCachedFeed=function(){return new appboy.ab.Feed};-->
      <!--(y = a.createElement(p)).type = 'text/javascript';-->
      <!--y.src = 'https://js.appboycdn.com/web-sdk/1.4/appboy.min.js';-->
      <!--(c = a.getElementsByTagName(p)[0]).parentNode.insertBefore(y, c);-->
      <!--if (y.addEventListener) {-->
        <!--y.addEventListener("load", b, false);-->
      <!--} else if (y.readyState) {-->
        <!--y.onreadystatechange = b;-->
      <!--}-->
    <!--}(document, 'script', 'link', function() {-->
      <!--appboy.initialize('5b6cfb7f-a4f6-48e0-b3a4-b7e1caf795ba');-->
      <!--appboy.display.automaticallyShowNewInAppMessages();-->

      <!--/*-->
       <!--* If you have a unique identifier for this user (e.g. they are logged into your site) it's a good idea to call-->
       <!--* changeUser here.-->
       <!--* See https://js.appboycdn.com/web-sdk/latest/doc/module-appboy.html#.changeUser for more information.-->
       <!--*/-->
      <!--// appboy.changeUser(userIdentifier);-->

      <!--appboy.openSession();-->

      <!--/*-->
       <!--* By default, in-app messages are only refreshed every 10 minutes as part of the openSession call. Additionally,-->
       <!--* they are not refreshed on a new anonymous user's first-ever session. If you want them refreshed as part of every-->
       <!--* page load instead, uncomment this line - note that depending on your website's architecture and messaging strategy,-->
       <!--* this may cause users to receive messages very frequently as they navigate around the site, and therefore may not be-->
       <!--* desirable.-->
       <!--*/-->
      <!--// appboy.requestInAppMessageRefresh();-->
    <!--});-->
  <!--</script>-->
  <!-- BEGIN 33Across SiteCTRL Script -->
  <script type='text/javascript'>
    if(document.location.protocol=='http:'){
      var Tynt=Tynt||[];Tynt.push('dB-1KGuhyr5OkNrkHcnnVW');

      (function(){var h,s=document.createElement('script');s.src='http://cdn.tynt.com/ti.js';
        h=document.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);})();}
  </script>
  <!-- END 33Across SiteCTRL Script -->
  {{content-for "head-footer"}}
</head>
<body>
{{content-for "body"}}

<script src="assets/vendor.js" integrity=""></script>
<script src="assets/yazda-js.js" integrity=""></script>

{{content-for "body-footer"}}
</body>
</html>
