<div class="content-inner-wrapper expanded row">

  <!-- Main Content -->
  <div class="large-8 medium-6 columns">
    <div class="expanded row">
      <div class="small-12 columns">
        <div class="input-group">
          <span class="input-group-label">
            <i class="ion-search"></i>
          </span>
          {{input class="input-group-field" type="search" value=search
                  placeholder="Search by tag..."}}
        </div>
      </div>
    </div>

    <ul class="no-bullet">
      {{#each model as |tag| }}
        <li>{{#link-to 'tags.show' tag.id}}#{{tag.id}} <span
            class="secondary badge">{{tag.count}}</span>{{/link-to}}
        </li>
      {{/each}}
    </ul>
    {{infinity-loader infinityModel=model destroyOnInfinity=true
                      loadedText="No more tags"}}
  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-6 columns">
    {{main-sidebar}}
    {{#unless (gt me.clubs.length 1)}}
      {{#link-to 'clubs.new'}}
        <div class="callout sponsored-content-widget create-club">
          <h4>Create a club and start organizing adventures in Yazda!</h4>
        </div>
      {{/link-to}}
    {{/unless}}
  </div>
  <!-- End Sidebar -->
</div>

