<div class="content-inner-wrapper expanded row">

  <!-- Main Content -->
  <div class="large-8 medium-6 columns">
    {{#zf-tabs class="club-show-tabs" id="tags-show-tabs"}}
      <li class="tabs-title is-active"><a href="#adventures-panel"
                                          aria-selected="true"><i
          class="icon-adventures"></i> Adventures</a></li>
      <li class="tabs-title"><a href="#clubs-panel"><i class="icon-clubs"></i>
        Clubs</a></li>
    {{/zf-tabs}}
    <div class="tabs-content club-show-tabs-content"
         data-tabs-content="tags-show-tabs">

      <div class="tabs-panel is-active" id="adventures-panel">
        {{#each model.adventures as |adventure|}}
          {{adventures-list-item model=adventure}}
        {{/each}}
        {{#if (eq model.adventures.length 0)}}
          <h3 class="center-text">No Adventures</h3>
        {{else}}
          <article class="item center-text">
            {{#link-to 'adventures' (query-params tag=model.id)}}
              View more tagged Adventures.
            {{/link-to}}
          </article>
        {{/if}}
      </div>

      <div class="tabs-panel" id="clubs-panel">
        {{#each model.clubs as |club|}}
          {{club-card club=club}}
        {{/each}}
        {{#if (eq model.clubs.length 0)}}
          <h3 class="center-text">No Clubs</h3>
        {{else}}
          <article class="item center-text">
            {{#link-to 'clubs' (query-params tag=model.id)}}
              View more tagged Clubs.
            {{/link-to}}
          </article>
        {{/if}}
      </div>
    </div>
    {{#each model.users as |user|}}
      <!--TODO link users-->
    {{/each}}
  </div>
  <!-- End Main Content -->

  <!-- Sidebar -->
  <div class="large-4 medium-6 columns">
    {{main-sidebar}}
    {{#unless (gt me.clubs.length 1)}}
      {{#link-to 'clubs.new'}}
        <div class="callout sponsored-content-widget create-club">
          <h4>Create a club and start organizing adventures in Yazda!</h4>
        </div>
      {{/link-to}}
    {{/unless}}
  </div>
  <!-- End Sidebar -->
</div>

