@font-face {
    font-family: 'yazda';
    src: url('fonts/yazda.eot?v617slna');
    src: url('fonts/yazda.eot?v617slna#iefix') format('embedded-opentype'), url('fonts/yazda.ttf?v617slna') format('truetype'), url('fonts/yazda.woff?v617slna') format('woff'),
    url('fonts/yazda.svg?v617slna#yazda') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'yazda' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-adventure-add:before {
    content: "\e900";
}
.icon-adventures:before {
    content: "\e901";
}
.icon-avatar:before {
    content: "\e902";
}
.icon-biking:before {
    content: "\e903";
}
.icon-chain:before {
    content: "\e904";
}
.icon-club-add:before {
    content: "\e905";
}
.icon-clubs:before {
    content: "\e906";
}
.icon-hiking:before {
    content: "\e907";
}
.icon-invites:before {
    content: "\e908";
}
.icon-mountain-biking:before {
    content: "\e909";
}
.icon-profile:before {
    content: "\e90a";
}
.icon-running:before {
    content: "\e90b";
}
.icon-trail-running:before {
    content: "\e90c";
}
