{{#zf-off-canvas showRightOffCanvas=true as |section|}}
  {{#if section.isOffCanvasLeft}}
    {{side-navigation}}
  {{else if section.isOffCanvasRight}}
  {{else}}
    {{main-navigation onLogin="transitionToLoginRoute"}}
    <div class="content-wrapper" style="padding: 0 !important;">
      {{#each flashMessages.arrangedQueue as |flash|}}
        {{#flash-message flash=flash as |component flash|}}
          <div data-abide-error="" data-closable=""
               class="{{flash.type}} callout yazda-alert">
            {{#if component.showProgressBar}}
              <div class="alert-progress">
                <div class="alert-progressBar"
                     style="{{component.progressDuration}}"></div>
              </div>
            {{/if}}
            <p>{{flash.message}}</p>
            <button aria-label="Dismiss alert" type="button" data-close=""
                    class="close-button">
              <span aria-hidden="true"><i
                  class="ion-ios-close-empty"></i></span>
            </button>
          </div>
        {{/flash-message}}
      {{/each}}
      {{outlet}}
      {{home-footer}}
    </div>
  {{/if}}
{{/zf-off-canvas}}
