<div class="expanded row fold fold-fourohfour">
  <div class="fold-background background-fourohfour"></div>
  <div class="fold-content">
    {{#link-to 'index'}}<img class="homepage-logo"
                             src="img/logo/yazda_full_horizontal_shadow.png" />{{/link-to}}

    <h1>Oops!</h1>
    <h3>Something went <strong>wrong</strong></h3>
    <p>Here are some helpful links instead:</p>

    <ul class="fourohfourmenu">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <span>•</span>
      <li><a href="/blog/">Blog</a></li>
      <span>•</span>
      <li><a href="/contact/">Contact</a></li>
    </ul>

  </div>
</div>
{{home-footer}}