<div id="fold-register-2" class="expanded row fold fold-register-2">
<div class="fold-background"></div>
  <div class="fold-content">

    <div class="large-6 medium-12 columns">
      {{#link-to 'index'}}
        <img class="homepage-logo"
             src="img/logo/yazda_full_horizontal_shadow.png"/>
      {{/link-to}}
    </div>
    <div class="large-6 medium-12 columns">
      <h2 class="homepage-logo center-text">
        Create and share club rides with current and future members.
      </h2>
    </div>
  </div>
</div>

<div id="fold-image-1" class="expanded row fold fold-image">
  <div class="fold-background background-image3"></div>
  <div class="fold-content">
    <div class="row">
      <div class="medium-offset-6 medium-6 small-12 columns">
        <h4 class="features-heading medium-text-right small-text-center">
          <img class="homepage-icon" src="img/homepage/invites.svg"/>
          <span>Grow Your Community</span>
        </h4>
        <p class="features-text medium-text-right small-text-center">
          Announce your club rides and events to your existing community as
          well as future members! Advertise your events on Yazda and
          share them to social media.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="fold-image-1" class="expanded row fold fold-image">
  <div class="fold-background background-image4"></div>
  <div class="fold-content">
    <div class="row">
      <div class="medium-offset-6 medium-6 small-12 columns">
        <h4 class="features-heading medium-text-right small-text-center">
          <img class="homepage-icon" src="img/homepage/invites.svg"/>
          <span>Advertise Your Mission</span>
        </h4>
        <p class="features-text medium-text-right small-text-center">
         Track your number of members as a tool to help meet your yearly
         membership goals. Post your club logo and branding to spread
         awareness.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="fold-partners" class="expanded row fold fold-partners">
  <div class="fold-content">
    <h4 class="partners-heading">
      <span>Used by these clubs</span>
    </h4>
    <div class="large-6 medium-6 columns">
      <div class="partners-logo">
        <a href="https://goldengiddyup.com/" target="_blank">
          <span class="helper"></span>
          <img alt="Giddyup Trail Team"
               src="img/logo/golden-giddyup-logo.png"/></a>
      </div>
    </div>
    <!--<div class="large-4 medium-4 columns">-->
    <!--<div class="partners-logo">-->
    <!--<a href="http://www.more-mtb.org/" target="_blank"><img-->
    <!--src="img/logo/more-logo.png"/></a>-->

    <!--</div>-->
    <!--</div>-->
    <div class="large-6 medium-6 columns">
      <div class="partners-logo">
        <a href="http://comba.org/" target="_blank">
          <span class="helper"></span>
          <img
              alt="Colorado Mountain Bike Association"
              src="img/logo/comba-logo.png"/></a>
      </div>
    </div>
  </div>
</div>

<div id="fold-register" class="expanded row fold fold-register">
  <div class="fold-background fold-features-2-background"></div>
  <div class="fold-content center-text">
    {{#link-to 'index'}}
      <img class="homepage-logo"
           src="img/logo/yazda_full_horizontal_shadow.png"/>
    {{/link-to}}

    <div class="row ab_1_registration">
      <div class="large-6 medium-6 columns">
        <h4>So what are you waiting for?</h4>
        <p>Get started and create your Yazda account now!</p>
        <a {{action 'open'
                    'https://itunes.apple.com/us/app/yazda/id983846853?ls=1&mt=8'}}
            target="_blank"><img class="appstore-logo"
                                 src="img/icons/AppStoreIcons_AppStore.svg"/></a>
        <a {{action 'open'
                    'https://play.google.com/store/apps/details?id=com.yazda.yazda_ios&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'}}
            target="_blank"><img class="appstore-logo"
                                 src="img/icons/AppStoreIcons_GooglePlay.svg"/></a>
      </div>
      <div class="large-6 medium-6 columns">
        {{registration-form}}
      </div>
    </div>
  </div>
</div>
