<div id="fold-register-2" class="expanded row fold fold-register-2">
  <div class="fold-background"></div>
  <div class="fold-content">

    <div class="large-6 medium-12 columns">
      {{#link-to 'index'}}
        <img class="homepage-logo"
             src="img/logo/yazda_full_horizontal_shadow.png"/>
      {{/link-to}}
    </div>
    <div class="large-6 medium-12 columns">
      <h2 class="homepage-logo center-text">
        Create and share group rides with your friends.
      </h2>
    </div>
  </div>
</div>

<div id="fold-image-1" class="expanded row fold fold-image">
  <div class="fold-background background-image3"></div>
  <div class="fold-content">
    <div class="row">
      <div class="medium-6 small-12 columns">
        <h4 class="features-heading medium-text-left small-text-center">
          <img class="homepage-icon" src="img/homepage/adventure-add.svg"/>
          <span>Create Adventures</span>
        </h4>
        <p class="medium-text-left small-text-center">
          Easily coordinate your group rides and your intense training
          sessions! Get immediate access to local adventures (rides,
          demos, trail work, etc.).
        </p>
      </div>
    </div>
  </div>
</div>

<div id="fold-image-1" class="expanded row fold fold-image">
  <div class="fold-background background-image4"></div>
  <div class="fold-content">
    <div class="row">
      <div class="medium-offset-6 medium-6 small-12 columns">
        <h4 class="features-heading medium-text-right small-text-center">
          <img class="homepage-icon" src="img/homepage/compass.svg"/>
          <span>Discover Adventures</span>
        </h4>
        <p class="medium-text-right small-text-center">
          Click “ya” to attend adventures and forward it to friends. Follow
          local bike clubs and shops to receive alerts for their upcoming
          events.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="fold-register" class="expanded row fold fold-register">
  <div class="fold-background fold-features-2-background"></div>
  <div class="fold-content center-text">
    {{#link-to 'index'}}
      <img class="homepage-logo"
           src="img/logo/yazda_full_horizontal_shadow.png"/>
    {{/link-to}}

    <div class="row ab_1_registration">
      <div class="large-6 medium-6 columns">
        <h4>So what are you waiting for?</h4>
        <p>Get started and create your Yazda account now!</p>
        <a {{action 'open'
                    'https://itunes.apple.com/us/app/yazda/id983846853?ls=1&mt=8'}}
            target="_blank"><img class="appstore-logo"
                                 src="img/icons/AppStoreIcons_AppStore.svg"/></a>
        <a {{action 'open'
                    'https://play.google.com/store/apps/details?id=com.yazda.yazda_ios&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'}}
            target="_blank"><img class="appstore-logo"
                                 src="img/icons/AppStoreIcons_GooglePlay.svg"/></a>
      </div>
      <div class="large-6 medium-6 columns">
        {{registration-form}}
      </div>
    </div>
  </div>
</div>
