<div id="fold-register-2" class="expanded row fold fold-register-2">
  <div class="fold-background"></div>
  <div class="fold-content">

    <div class="large-6 medium-12 columns">
      {{#link-to 'index'}}
        <img class="homepage-logo"
             src="img/logo/yazda_full_horizontal_shadow.png"/>
      {{/link-to}}
    </div>
    <div class="large-6 medium-12 columns">
      <h2 class="homepage-logo center-text">
        Create and share shop rides with your customers.
      </h2>
    </div>
  </div>
</div>

<div id="fold-image-1" class="expanded row fold fold-image">
  <div class="fold-background background-image3"></div>
  <div class="fold-content">
    <div class="row">
      <div class="medium-offset-6 medium-6 small-12 columns">
        <h4 class="features-heading medium-text-right small-text-center">
          <img class="homepage-icon" src="img/homepage/invites.svg"/>
          <span>Attract New Customers</span>
        </h4>
        <p class="features-text medium-text-right small-text-center">
          Announce your shop rides and events to customers! Advertise your
          demo days and promotions on Yazda and share them to social media.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="fold-image-1" class="expanded row fold fold-image">
  <div class="fold-background background-image4"></div>
  <div class="fold-content">
    <div class="row">
      <div class="medium-offset-6 medium-6 small-12 columns">
        <h4 class="features-heading medium-text-right small-text-center">
          <img class="homepage-icon" src="img/homepage/invites.svg"/>
          <span>Expand your Reach</span>
        </h4>
        <p class="features-text medium-text-right small-text-center">
          Track your number of followers as a tool to help meet your yearly
          sales goals. Post your bike shop logo and branding at absolutely no
          marketing cost.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="fold-register" class="expanded row fold fold-register">
  <div class="fold-background fold-features-2-background"></div>
  <div class="fold-content center-text">
    {{#link-to 'index'}}
      <img class="homepage-logo"
           src="img/logo/yazda_full_horizontal_shadow.png"/>
    {{/link-to}}

    <div class="row ab_1_registration">
      <div class="large-6 medium-6 columns">
        <h4>So what are you waiting for?</h4>
        <p>Get started and create your Yazda account now!</p>
        <a {{action 'open'
                    'https://itunes.apple.com/us/app/yazda/id983846853?ls=1&mt=8'}}
            target="_blank"><img class="appstore-logo"
                                 src="img/icons/AppStoreIcons_AppStore.svg"/></a>
        <a {{action 'open'
                    'https://play.google.com/store/apps/details?id=com.yazda.yazda_ios&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'}}
            target="_blank"><img class="appstore-logo"
                                 src="img/icons/AppStoreIcons_GooglePlay.svg"/></a>
      </div>
      <div class="large-6 medium-6 columns">
        {{registration-form}}
      </div>
    </div>
  </div>
</div>
