{{#if session.isAuthenticated}}
  <div class="content-inner-wrapper expanded row">

    <!-- Main Content -->
    <div class="large-8 medium-6 columns">
      {{#each adventuresGrouped as |obj|}}
        <div class="item-list-divider">{{obj.title}}</div>
        {{#each obj.adventures as |adventure index|}}
          <!--TODO inline banner every certain number of-->
          {{adventures-list-item model=adventure}}
        {{/each}}
      {{/each}}
      {{infinity-loader infinityModel=model.adventures
                        destroyOnInfinity=true
                        loadedText="No more adventures"}}
      {{chat-thread-messages isModal=true}}
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <div class="large-4 medium-6 columns">
      {{main-sidebar}}
      {{#unless (gt model.me.clubs.length 1)}}
        {{#link-to 'clubs.new'}}
          <div class="callout sponsored-content-widget create-club">
            <h4>Create a club and start organizing adventures in Yazda!</h4>
          </div>
        {{/link-to}}
      {{/unless}}
    </div>
    <!-- End Sidebar -->
  </div>

{{else}}
  <div id="fold-register" class="expanded row fold fold-register">
    <div class="fold-background background-register"></div>
    <div class="fold-content">

      {{#link-to 'index'}}
        <img class="homepage-logo"
             src="img/logo/yazda_full_horizontal_shadow.png"/>
      {{/link-to}}

      <div class="row ab_1_registration" style="display:none">
        <div class="large-6 medium-6 columns">
          <h4>Schedule Group Rides</h4>
          <ul class="key-features">
            <li><i class="ion-social-usd"></i> <strong>Free</strong>
              to Download, <strong>Free</strong> to Use
            </li>
            <li><i class="ion-android-share"></i> Easily
                                                  Share Your
              <strong>Adventures</strong></li>
            <li><i class="ion-person-add"></i> Invite Your
              <strong>Friends</strong></li>
          </ul>
        </div>
        <div class="large-6 medium-6 columns place-register-form">
        </div>
      </div>

      {{registration-form}}

    </div>
  </div>

  <div id="fold-apps" class="expanded row fold fold-apps">
    <div class="fold-background "></div>
    <div class="fold-content">
      <div class="row">
        <div class="large-6 medium-6 columns">
          <img class="app-screen" src="img/appscreens/screen1.png"/>
        </div>
        <div class="large-6 medium-6 columns">
          <h4 class="apps-heading">Yazda is the newest and easiest way to
                                   plan, schedule, and coordinate biking
                                   events wherever you are.
          </h4>
          <a {{action 'open'
                      'https://itunes.apple.com/us/app/yazda/id983846853?ls=1&mt=8'}}
              target="_blank"><img class="appstore-logo"
                                   src="img/icons/AppStoreIcons_AppStore.svg"/></a>
          <a {{action 'open'
                      'https://play.google.com/store/apps/details?id=com.yazda.yazda_ios&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'}}
              target="_blank"><img class="appstore-logo"
                                   src="img/icons/AppStoreIcons_GooglePlay.svg"/></a>
        </div>
      </div>
    </div>
  </div>

  <div id="fold-features" class="expanded row fold fold-features">
    <div class="fold-background "></div>
    <div class="fold-content">
      <div class="large-4 medium-12 columns">
        <h4 class="features-heading">
          <img class="homepage-icon" src="img/homepage/adventure-add.svg"/>
          <span>Create</span>
        </h4>
        <p class="features-text">
          Quickly post your "adventures" (group rides, demo days, trail work,
          and any other bike industry events) to Yazda.
        </p>
      </div>
      <div class="large-4 medium-12 columns">
        <h4 class="features-heading">
          <img class="homepage-icon" src="img/homepage/invites.svg"/>
          <span>Connect</span>
        </h4>
        <p class="features-text">
          Create open or invite-only adventures that can be shared via
          email, text, and social media.
        </p>
      </div>
      <div class="large-4 medium-12 columns">
        <h4 class="features-heading">
          <img class="homepage-icon" src="img/homepage/chat.svg"/>
          <span>Chat</span>
        </h4>
        <p class="features-text">
          Reach out to Yazda users nationwide using the premium real-time
          chat system, either as a group chat or private message.
        </p>
      </div>
    </div>
  </div>

  <div id="fold-image-video" class="expanded row fold fold-image">
    <div class="fold-background background-image-video"></div>
  </div>

  <!--<div id="fold-video" class="expanded row fold fold-video">-->
  <!--TODO video-->
  <!--<div class="flex-video widescreen">-->
  <!--<iframe width="560" height="315"-->
  <!--src="https://www.youtube.com/embed/2pfA5VqauSU" frameborder="0"-->
  <!--allowfullscreen></iframe>-->
  <!--</div>-->
  <!--</div>-->

  <div id="fold-clubs" class="expanded row fold fold-features">
    <div class="fold-content">
      <div class="large-6 medium-12 columns">
        <h4 class="features-heading">
          <img class="homepage-icon" src="img/homepage/club-add.svg"/>
          <span>Follow</span>
        </h4>
        <p class="features-text">
          Follow bike clubs and shops in Yazda to receive instant alerts when
          upcoming group rides, bike races, or festivals are posted.
        </p>
      </div>
      <div class="large-6 medium-12 columns">
        <h4 class="features-heading">
          <img class="homepage-icon"
               src="img/homepage/adventure-leader.svg"/>
          <span>Experience</span>
        </h4>
        <p class="features-text">
          Attend local biking adventures by clicking "ya" in the adventure
          feed. Receive a reminder to pack up and head out for your
          adventure.</p>
      </div>
    </div>
  </div>

  <div id="fold-image-1" class="expanded row fold fold-image">
    <div class="fold-background background-image1"></div>
  </div>

  <div id="fold-features-2" class="expanded row fold fold-features">
    <div class="fold-background fold-features-2-background"></div>
    <div class="fold-content">
      <div class="large-6 medium-12 columns">
        <h4 class="features-heading">
          <img class="homepage-icon" src="img/homepage/backpack.svg"/>
          <span>Share</span>
        </h4>
        <p class="features-text">
          Invite friends to adventures through the app or via text message,
          email, and social media.</p>
      </div>
      <div class="large-6 medium-12 columns">
        <h4 class="features-heading">
          <img class="homepage-icon" src="img/homepage/compass.svg"/>
          <span>Grow</span>
        </h4>
        <p class="features-text">
          Grow your circle of biking friends by regularly posting and
          attending adventures.</p>
      </div>
    </div>
  </div>

  <div id="fold-image-2" class="expanded row fold fold-image">
    <div class="fold-background background-image2"></div>
  </div>

  <div id="fold-features-3" class="expanded row fold fold-features">
    <div class="fold-background fold-features-3-background"></div>
    <div class="fold-content">
      <div class="large-6 medium-12 columns">
        <h4 class="features-heading">
          <img class="homepage-icon" src="img/homepage/backpack.svg"/>
          <span>Compete</span>
        </h4>
        <p class="features-text">
          Train in groups and compete for the fastest times by syncing with
          Strava.</p>
      </div>
      <div class="large-6 medium-12 columns">
        <h4 class="features-heading">
          <img class="homepage-icon" src="img/homepage/compass.svg"/>
          <span>Win</span>
        </h4>
        <p class="features-text">
          Active users are entered to win random raffle giveaways including
          bike gear and bike event passes.</p>
      </div>
    </div>
  </div>

  <div id="fold-partners" class="expanded row fold fold-partners">
    <div class="fold-content">
      <h4 class="partners-heading">
        <span>Trusted by our partners</span>
      </h4>
      <div class="large-6 medium-6 columns">
        <div class="partners-logo">
          <a href="https://goldengiddyup.com/" target="_blank">
            <span class="helper"></span>
            <img alt="Giddyup Trail Team"
                 src="img/logo/golden-giddyup-logo.png"/></a>
        </div>
      </div>
      <!--<div class="large-4 medium-4 columns">-->
      <!--<div class="partners-logo">-->
      <!--<a href="http://www.more-mtb.org/" target="_blank"><img-->
      <!--src="img/logo/more-logo.png"/></a>-->

      <!--</div>-->
      <!--</div>-->
      <div class="large-6 medium-6 columns">
        <div class="partners-logo">
          <a href="http://comba.org/" target="_blank">
            <span class="helper"></span>
            <img
                alt="Colorado Mountain Bike Association"
                src="img/logo/comba-logo.png"/></a>
        </div>
      </div>
    </div>
  </div>
{{/if}}
