<div id="fold-register" class="expanded row fold fold-register">
  <div class="fold-background background-register"></div>
  <div class="fold-content">
    {{#link-to 'index'}}
      <img class="homepage-logo"
           src="img/logo/yazda_full_horizontal_shadow.png"/>
    {{/link-to}}
    {{registration-form}}
  </div>
</div>
