<div id="fold-register" class="expanded row fold fold-register">
  <div class="fold-background background-register"></div>
  <div class="fold-content">
    {{#link-to 'index'}}
      <img class="homepage-logo"
           src="img/logo/yazda_full_horizontal_shadow.png"/>
    {{/link-to}}
    <div class="homepage-register-form">

      <!-- Error -->
      {{#if errorMessage}}
        <div data-abide-error class="alert callout">
          <p>{{{errorMessage}}}</p>
        </div>
      {{/if}}
      <!-- End error -->

      <form class="logged-out-form" data-abide novalidate>
        <div class="row">
          <div class="large-4 medium-6 columns">
            {{input value=password placeholder='Password' type="password"
                    required=true}}
          </div>
          <div class="large-4 medium-6 columns">
            {{input value=password_confirmation required=true
                    placeholder='Password Confirmation' type='password' }}
          </div>
          <div class="large-4 medium-12 columns">
            <div class="row">
              <div class="input-group">
                {{async-button reset=true
                    class="expanded button energized register-submit-btn"
                    action=(action 'resetPassword')
                    default="Reset Password"}}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
